	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/almacen">Almacén</a></li>
			<li><a href="/almacen/tipo-producto">Tipo producto</a></li>
			<li class="active">Nuevo tipo</li>
      </ol>

</div>

<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Tipo de Producto</h5>

					</div>

					<div class="panel-body">
					<form action="" class="form-horizontal" id="frmTipo">

						<div class="form-group">
							<label class="col-sm-2 control-label form-label">Nombre:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="nombre del producto" id="nombre" name = "nombre">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label form-label">Familia:</label>
							<div class="col-sm-10">
								<select class="select-search" id="id_familia" name="id_familia">

									<?php 

									foreach ($this->familia as $data) {
										?>

										<option value="<?=$data['id_familia']?>"><?=$data['nombre']?></option>
										<?php 
									}
									?>

								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label form-label">Estado:</label>
							<div class="col-sm-10">
								<select class="select" id="estado" name="estado">

									<option value="0">Activo</option>
									<option value="1">Inactivo</option>

								</select>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="button" class="btn btn-default btn-registrar"><i class="fa fa-save"></i> Registrar</button>
							</div>
						</div>

					</div>
					</form>
			</div>

  		</div>
  	</div>
</div>


</div>
<!-- Content area -->

<?php
  echo $this->inlineScript()
	  
      ->appendFile($this->basePath() . '/js/module/almacen/tipo-producto/add.js')

?>