	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/almacen">Almacén</a></li>
			<li><a href="/almacen/tipo-producto">Tipo producto</a></li>
			<li class="active">Editar tipo</li>
      </ol>

</div>


<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Tipo de Producto</h5>

					</div>

					<div class="panel-body">

						<form action="" class="form-horizontal" id="frmTipo">

							<input type="hidden" id="id_tipo_prod" name="id_tipo_prod" value="<?=$this->tipoProd['id_tipo_prod']?>">
							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Nombre:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="nombre del producto" id="nombre" name = "nombre" value="<?=$this->tipoProd['nombre']?>">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Familia producto:</label>
								<div class="col-sm-10 ">
									<select class="select-search" id="id_familia" name="id_familia">

										<?php 

										foreach ($this->familia as $data) {
											?>

											<option value="<?=$data['id_familia']?>" <?=($data['id_familia'] == $this->tipoProd['id_familia']) ? "selected" : "" ?>><?=$data['nombre']?></option>
											<?php 
										}
										?>

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Estado:</label>
								<div class="col-sm-10">
									<select class="select" id="estado" name="estado">

										<option value="0" <?=($this->tipoProd['estado'] == "0") ? "selected":""?> >Activo</option>
										<option value="1" <?=($this->tipoProd['estado'] == "1") ? "selected":""?>>Inactivo</option>

									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="button" class="btn btn-default btn-editar"><i class="fa fa-refresh"></i> Editar</button>
								</div>
							</div>
							
						</form>
					</div>
			</div>
  		</div>
  	</div>
</div>


</div>
<!-- Content area -->

<?php
  echo $this->inlineScript()
	  
      ->appendFile($this->basePath() . '/js/module/almacen/tipo-producto/add.js')

?>