		<div id="mDelete" class="modal fade" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">¿Desea eliminar este registro?</h6>
					</div>

					<div class="modal-body" style="text-align: center">

					    <p class="text">Si lo elimina no podra recuperalo , ¿esta  completamente seguro de eliminarlo ?</p>

						<div class="loader" style="display: none">
							<i class="fa fa-spinner fa-5x"></i>

							<p> Procesando ...</p>
						</div>
					</div>

					<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">No</button>
									<button type="button" class="btn btn-info" id="btn-si">Si</button>
								</div>


				</div>
			</div>
		</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/almacen">Almacén</a></li>
        <li class="active">Tipo producto</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/almacen/tipo-producto/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
       </div>

 </div>

<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Tipo de Productos</h5>
	
		</div>

		<div class="panel-body">
			The <code>DataTables</code> is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. <strong>Datatables support all available table styling.</strong>
		</div>

		<input type="hidden" id="id_tipo_prod">

		<section id="no-more-tables">

			<table class="table datatable-responsive  table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Familia</th>
					<th>Estado</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			<?php 

			foreach ($this->data as $datos) {

			?>
			<tr>
				<td data-title="Id"><?=$datos['id_tipo_prod']?></td>
				<td data-title="Nombre"><?=$datos['nombre']?></td>
				<td data-title="Familia"><?=$datos['nom_fam']?></td>
				<td data-title="Estado"><?=$this->funcionesHelper("estado",$datos['estado'])?></td>
				<td class="text-center" data-title="Actions">
						<ul class="icons-list">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/almacen/tipo-producto/edit/<?=$datos['id_tipo_prod']?>"><i class="icon-pencil7"></i> Editar</a></li>
									<li><a href="javascript:void(0)" class="delete-tipo" data="<?=$datos['id_tipo_prod']?>" data-toggle="modal" data-target="#mDelete"><i class="icon-x"></i> Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>
			</tr>
			<?php 
			}
			?>
					
			</tbody>
			</table>
		</section>

	</div>
  		</div>
  	</div>
</div>

	
</div>

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/almacen/tipo-producto/index.js')
             
?>