<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body" style="text-align: center">

				<i class="fa fa-spinner fa-5x"></i>

				<p> Procesando ...</p>

			</div>


		</div>
	</div>
</div>

<div id="mProducto" class="modal fade" data-backdrop="static" data-keyboard="false" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

		    <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Lista Productos</h6>
			</div>

			<div class="modal-body form-horizontal">

				<div class="form-group">
				<label class="col-lg-3 control-label">Filtrar:</label>
					<div class="col-lg-9">
					

						<div class="radio radio-warning">
							<input type="radio" name="opProd" id="opProd"  checked>
							<label for="opProd">
							Manual
							</label>
						</div>


						<div class="radio radio-warning">
							<input type="radio" name="opProd" id="opLectora">
							<label for="opLectora">
							Lectora de código de barras
							</label>
						</div>

						
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label">Código producto:</label>
					<div class="col-lg-9">
						<input type="text" class="form-control"  id="id_prod" readonly>
					</div>
				</div>

				<div style="text-align: center">
					<a class="btn btn-info btn-rounded" href="/almacen/producto/add" target="_blank"> <i class="icon-pencil7"></i> Crear producto</a>
				</div>

				 <section id="no-more-tables">

				 <table class="table table-hover" id="tb_producto">
					<thead>
						<tr>
							<th>Id</th>
							<th>Foto</th>
							<th>Producto</th>
							<th>Pre. Venta </th>
							<th>Familia</th>
							<th>Afecto IGV</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
		
				</section>

				
			</div>


		</div>
	</div>
</div>



<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/compras">Compras</a></li>
			<li><a href="/compras/compras">Compras</a></li>
			<li class="active">Nueva compra</li>
      </ol>

</div>

<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Registro de compras</h5>

					</div>

					<div class="panel-body">

						<form action="#" class="form-horizontal" id="frmCompras">

							<div class="row">

								<div class="col-md-6">

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Proveedor:</label>
										<div class="col-sm-10">
											<select class="select-search" id="id_prov" name="id_prov">

												<?php foreach ($this->proveedor as $data): ?>

													<option value="<?=$data['id_prov']?>" data="<?=$data['razon_social']?>"><?=$data['ruc']?></option>

												<?php endforeach ?>

											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Razon social:</label>
										<div class="col-sm-10">
											<input type="text" class="form-control"  id="razon_social" readonly>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Forma de pago:</label>
										<div class="col-sm-10">
											<select class="select" id="f_pago" name="f_pago">

												<option value="contado">Contado</option>
												<option value="credito">Crédito</option>
												<option value="letra45">Letra a 45 días</option>

											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Fecha de emisión:</label>
										<div class="col-sm-10">
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-calendar2"></i></span>
												<input type="text" class="form-control pickadate-accessibility"  id="fecha_emi" name="fecha_emi">
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Fecha de recepción:</label>
										<div class="col-sm-10">
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-calendar2"></i></span>
												<input type="text" class="form-control"  id="fecha_rec" name="fecha_rec" value = "<?=date("m/d/Y")?>" readonly>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Observación:</label>
										<div class="col-sm-10">
											<textarea class="form-control" id="observacion" name="observacion"></textarea>
										</div>
									</div>

								</div>

								<div class="col-md-6">

									<div class="panel  panel-transparent">

										<div class="panel-body">

											<div class="form-group">
												<label class="col-lg-3">N° Factura</label>
												<div class="col-lg-9">
													<input type="digits" class="form-control ndoc" id="n_fact" name = "n_fact">
												</div>
											</div>

											<div class="form-group">
												<label class="col-lg-3">Guía remisión</label>
												<div class="col-lg-9">
													<input type="digits" class="form-control ndoc" id="n_guia" name = "n_guia">
												</div>
											</div>

										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Almacén destino:</label>
										<div class="col-sm-10">
											<select class="select" id="id_almacen" name="id_almacen">

												<?php foreach ($this->almacen as $data): ?>

													<option value="<?=$data['id_almacen']?>"><?=$data['nombre']?></option>

												<?php endforeach ?>

											</select>
										</div>
									</div>

									<div class="form-group">
										
										<div class="col-sm-12">

											<button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#mProducto"> <i class="icon-search4"></i> Agregar producto</button>
									
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Afecto igv:</label>
										<div class="col-sm-10">

										  <input type="checkbox" data-toggle="toggle" data-onstyle="success" id="igv" data-on="Si" data-off="No">
										
										</div>
									</div>

								</div>

							</div>

							<div class="row">

								<div class="col-md-6">

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Total factura: </label>
										<div class="col-sm-10">

											<span class="badge badge-warning"  id="total-text" style="font-size: 1.5em">S/. 0.00</span>
											<input type="hidden" id="total" name="total">

										</div>
									</div>

								</div>

								<div class="col-md-6">

									<div class="form-group">
										<label class="col-sm-2 control-label form-label">Percepción: </label>
										<div class="col-sm-10">

											<input type="text" class="form-control"  id="percepcion" name="percepcion" placeholder="0.00">

										</div>
									</div>

								</div>

							</div>


							<table class="table  table-striped table-hover" id="tb_prod_comp">
								<thead>
									<tr>
										<th>Id</th>
										<th>Producto</th>
									<!--<th>F. Venc</th>
									<th>Lote</th>-->
									<th>Cant.</th>
									<th>V. Unit.</th>
									<th>Ganacia. %</th>
									<th>ISC</th>
									<th>IGV</th>
									<th>P. Comp.</th>
									<th>P. Venta</th>

									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
							</table>

							<div class="text-left">
								<button type="submit" class="btn btn-default btn-registrar"><i class="fa fa-save"></i> Registrar</button>
							</div>
						</form>


					</div>
			</div>
  		</div>
  	</div>
</div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()
  	

  	->appendFile($this->basePath() . '/js/theme/formatter.min.js')

    ->appendFile($this->basePath() . '/js/theme/editable/jasny_bootstrap.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/editable.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/mockjax.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/address.js')
    ->appendFile($this->basePath() . '/js/theme/editable/autosize.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/touchspin.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/tagsinput.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/settings.js')

    ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
  	->appendFile($this->basePath() . '/js/theme/responsive.min.js')
    ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')

    ->appendFile($this->basePath() . '/js/theme/mask-money/jquery.maskMoney.min.js')

    ->appendFile($this->basePath() . '/js/theme2/bootstrap-toggle.min.js')

    
    ->appendFile($this->basePath() . '/js/module/compras/compras/add.js')

?>