
<!-- Content area -->
<div class="content">

	<div class="page-header">
	      <ol class="breadcrumb">
	        <li><a href="/">Dashboard</a></li>
	        <li><a href="/compras">Compras</a></li>
	        <li class="active">Compras</li>
	      </ol>

	      <div class="right">
	          <a class="btn btn-danger" href="/compras/compras/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
	            
	      </div>
	</div>

	<div class="container-padding container-widget">

		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-default">

					<div class="panel-heading">
						<h5 class="panel-title">Compras</h5>
					</div>

					<div class="panel-body">

						<table class="table datatable-responsive  table-striped table-hover">
							<thead>
								<tr>
									<th>Id</th>
									<th>Proveedor</th>
									<th>N° Factura</th>
									<th>N° Guia Remisión</th>
									<th>Fecha Emisión</th>
									<th>Fecha Recepción</th>
									<th>Estado</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>

								<?php foreach ($this->compras as $data): ?>

									<tr>
										<td><?=$data['id_compra']?></td>
										<td><?=$data['razon_social']?></td>
										<td><?=$data['n_fact']?></td>
										<td><?=$data['n_guia']?></td>
										<td><?=$data['fecha_emi']?></td>
										<td><?=$data['fecha_rec']?></td>
										<td><?= $this->comprasHelper("estado",$data['estado'])?></td>
										<td class="text-center" data-title="Actions">
											<ul class="icons-list">
												<li class="dropdown">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">
														<i class="icon-menu9"></i>
													</a>

													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="/compras/compras/edit/<?=$data['id_compra']?>"><i class="icon-pencil7"></i> Editar</a></li>
														<li><a href="#"><i class="icon-x"></i> Eliminar</a></li>
													</ul>
												</li>
											</ul>
										</td>
									</tr>

								<?php endforeach ?>

							</tbody>
						</table>

					</div>

				</div>
			</div>
		</div>
	</div>


</div>

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/compras/compras/index.js')
             
?>