
<input type="hidden" id="rol" value="<?=$this->rol;?>">

<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body" style="text-align: center">

				<i class="fa fa-spinner fa-5x"></i>

				<p> Procesando ...</p>

			</div>


		</div>
	</div>
</div>

<div id="mCliente" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h6 class="modal-title">Registrar cliente</h6>
			</div>

			<div class="modal-body form-horizontal">

			<form action="#"  id="frmCliente">

				<div class="row">

					<div class="col-md-12">

						<div class="form-group">
						<label class="col-lg-3 control-label">Nombre cliente:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="Josue Diaz" id="nombre" name = "nombre" required>
							</div>
						</div>

						<div class="form-group">
						<label class="col-lg-3 control-label">Dni:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="4656314" id="dni" name = "dni" required>
							</div>
						</div>

						<div class="form-group">
						<label class="col-lg-3 control-label">Ruc:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="123456789101" id="ruc" name = "ruc">
							</div>
						</div>

						<div class="form-group">
						<label class="col-lg-3 control-label">Dirección:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="av. Perú" id="direccion" name = "direccion">
							</div>
						</div>

					</div>

				</div>
			</form>

				<div class="row">

					<div class="text-center">
							<button type="button" class="btn btn-danger btn-cliente">Registrar<i class="icon-arrow-right14 position-right"></i></button>
					</div>
					
				</div>

			</div>

		</div>

	
	</div>
</div>

<div id="mProducto" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

		    <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Lista Productos</h6>
			</div>

			<div class="modal-body form-horizontal">

				 <section id="no-more-tables">

				 <table class="table table-hover" id="tb_producto_modal">
					<thead>
						<tr>
							<th>Id</th>
							<th>Cod. Barras</th>
							<th>Foto</th>
							<th>Producto</th>
							<th>Precio </th>
							<th>Stock</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>

					<?php foreach ($this->productos as $data): ?>

						<tr>
							<td><?=$data['id_prod']?></td>
							<td><?=$data['cod_barras']?></td>
							<td>
								<?php 
								$foto = "/img/thumbnail-default.jpg";
								if($data['foto'] !=null || $data['foto'] != "" ){

									$foto = "/img/productos/".$data['foto'];

								}
								?>
					
							<img src="<?=$foto?>" id="img-prod" width="100">
			
							</td>

							<td><?=$data['nom_prod']." / ". $data['nom_tipo']?></td>
							<td><?=$data['prec_vent']?></td>
							<td><?=$data['stock']?></td>
							<td class="text-center" data-title="Actions">
								<ul class="icons-list">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="icon-menu9"></i>
										</a>

										<ul class="dropdown-menu dropdown-menu-right">

											<li><a href="javascript:void(0)"><i class="icon-arrow-right15"></i> Agregar</a></li>
										</ul>
									</li>
								</ul>
							</td>

						</tr>
						
					<?php endforeach ?>

					</tbody>
				</table>
		
				</section>

				
			</div>


		</div>
	</div>
</div>

<div id="mCaja" class="modal fade" data-backdrop="static" tabindex="-1" >
	<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">¿Seguro que deseas cerrar caja?</h6>
					</div>

					<div class="modal-body">

					    <p>Si das en si, se emitira un reporte de las ventas y se tendra que aperturar caja nuevamente </p>

						<div class="loader" style="display: none;text-align: center">
							<i class="fa fa-spinner fa-5x"></i>

							<p> Procesando ...</p>
						</div>
					</div>

					<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">No</button>
									<button type="button" class="btn btn-info" id="btn-caja-si">Si</button>
					</div>


				</div>
	</div>
</div>

<div id="mPago" class="modal fade" data-backdrop="static" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h6 class="modal-title">Selecciona método pago</h6>
			</div>

			<div class="modal-body form-horizontal">

				<form action="#">

				<div class="row">

					<div class="col-md-12">

						<div class="form-group">
							<label class="col-lg-3 control-label">Tipo de cambio:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="3.36" id="t-cambio" value="<?=$this->tipoCambio['valor'];?>" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Monto a pagar:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="0.00" id="m-pagar" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Forma pago:</label>
							<div class="col-lg-9">
								<select class="select-search" id="f_pago" name="f_pago">

									<option value="0"> -- Elegir forma pago -- </option>
									<option value="efectivo" selected> Efectivo </option>
									<option value="tarjeta"> Tarjeta </option>
									<option value="vale"> Vale </option>

								</select>
							</div>
						</div>

						<div class="form-group" id="pago-tarjeta-select">
							<label class="col-lg-3 control-label">Tarjeta:</label>
							<div class="col-lg-9">
								<select class="select-search" id="tarjeta" name="tarjeta">

									<option value="0"> -- Elegir tarjeta -- </option>
									<option value="visa"> Visa </option>
									<option value="mastercard"> MasterCard </option>

								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Recibido:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="" id="mont_ing" name = "mont_ing" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Vuelto:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="" id="vuelto" readonly>
							</div>
						</div>

					</div>

				</div>
				</form>

				<div class="row">

					<div class="text-center">
							<button type="button" class="btn btn-success btn-pago"> <i class="icon-coins"></i> Pagar (F9)</button>
					</div>
					
				</div>

			</div>

		</div>
	</div>
</div>



<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/ventas">Ventas</a></li>
			<li><a href="/ventas/ventas">Ventas</a></li>
			<li class="active">Nueva venta</li>
      </ol>

</div>

<div class="container-padding container-widget">
<div class="row no" style="padding-bottom: 23px">
		<div class="col-md-12">

			<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#mProducto"><i class="icon-search4"></i> Producto (CTRL + B)</button>

			<button type="button" class="btn btn-info"  id="btn-activar-lectora"><i class="icon-barcode2"></i> Activar lectora (F2)
			</button>

			<button type="button" class="btn btn-success"  id="btn-venta"  data-toggle="modal" data-target="#mPago"><i class="icon-checkmark4"></i> Registrar venta (F3)</button>

			<button type="button" class="btn btn-warning disabled"  id="btn-n-venta"><i class="icon-rotate-cw3"></i> Nueva venta (F4)</button>


			<button type="button" class="btn bg-purple-400"  id="btn-cerrar-caja" data-toggle="modal" data-target="#mCaja"><i class="icon-files-empty2"></i> Cerrar caja (F5)</button>

			<input type="hidden" id="prod_lectora" >

		</div>
	</div>

  	<div class="row">
  		<div class="col-md-12">
  			<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Registro de ventas</h5>
					</div>

					<div class="panel-body">
			
					<form action="#" class="form-horizontal" id="frmVentas" style="font-size: 1.1em;">
	

						<ul class="breadcrumb-elements">
							<li><a href="#"><label class="label label-warning" id="nom_caja" style="font-size: 1em"></label></a></li>
						</ul>
						<input type="hidden" id="id_caja" >

						<div class="row">

							<div class="col-md-7">

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Ticket:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"  id="ticket" value="<?=$this->ticket;?>" readonly>

									</div>
								</div>

										<div class="form-group" id="dni-tab">
											<label class="col-sm-3 control-label form-label">Cliente:</label>
											<div class="col-sm-7">
												<select class="select-search selectpicker" id="dni_cliente" name="dni_cliente" data-live-search="true">

												<option value="0"> -- Buscar por dni -- </option>

												<?php foreach ($this->cliente as $data): ?>

												<?php if ($data['dni'] != ""): ?>

													<option value="<?=$data['id_cliente']?>" data="<?=$data['nombre']?>" ruc="<?=$data['ruc']?>" dir="<?=$data['direccion']?>" dni="<?=$data['dni']?>"><?=$data['dni']?></option>
													
												<?php endif?>

													<?php endforeach ?>

												</select>
											</div>

											<div class="col-sm-2">
												<button type="button" class="btn bg-slate" data-toggle="modal" data-target="#mCliente" data-popup="tooltip" title="" data-original-title="Registrar cliente" data-placement="bottom"><b><i class="icon-users2"></i></b> </button>
											</div>
										</div>

										<div class="form-group" id="ruc-tab" style="display: none">
											<label class="col-sm-3 control-label form-label">Cliente:</label>
											<div class="col-sm-7">
												<select class="select-search selectpicker" id="ruc_cliente" name="ruc_cliente" data-live-search="true">

												<option value="0"> -- Buscar por Ruc -- </option>

												<?php foreach ($this->cliente as $data): ?>

												<?php if ($data['ruc'] != ""): ?>

													<option value="<?=$data['id_cliente']?>" data="<?=$data['nombre']?>" ruc="<?=$data['ruc']?>" dir="<?=$data['direccion']?>" dni="<?=$data['dni']?>"><?=$data['ruc']?></option>
													
													
												<?php endif ?>

													
												<?php endforeach ?>

												</select>
											</div>


											<div class="col-sm-2">
												<button type="button" class="btn bg-slate" data-toggle="modal" data-target="#mCliente" data-popup="tooltip" title="" data-original-title="Registrar cliente" data-placement="bottom"><b><i class="icon-users2"></i></b> </button>
											</div>
										</div>

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Dni:</label>
									<div class="col-sm-3">
										<input type="text" class="form-control"  id="dni_cli" readonly>
									</div>


									<label class="col-sm-1 control-label">Ruc:</label>

									<div class="col-sm-5">
										<input type="text" class="form-control"  id="ruc_cli" readonly>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Nombre:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"  id="nom_cli" readonly>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Dirección:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"  id="dir_cli" readonly>
									</div>
								</div>
							
							</div>

							<div class="col-md-5">
						
								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Fecha:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control"  id="fecha" value="<?=date("Y/m/d")?>" readonly>
									</div>
									<label class="col-sm-1 control-label form-label">Hora:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control"  id="hora" readonly>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Documento:</label>
									<div class="col-sm-9">

										<div class="radio radio-warning radio-inline">
											<input type="radio" name="tipo_doc" id="boleta"  value="boleta" checked>
											<label for="boleta">
												Boleta
											</label>
										</div>

										<div class="radio radio-warning radio-inline">
											<input type="radio" name="tipo_doc" id="factura"  value="factura">
											<label for="factura">
												Factura
											</label>
										</div>

									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Tipo cambio:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"  id="tipo_cambio" value="<?=$this->tipoCambio['valor'];?>" readonly>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Moneda:</label>
									<div class="col-sm-9">
											<select class="select-search" id="moneda" name="moneda">

												<option value="0"> -- Elija moneda de pago -- </option>
												<option value="soles" selected> Soles (S/.) </option>
												<option value="dolares"> Dolares ($) </option>
											</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label form-label">Cant. art:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"  id="cant_art" readonly>
									</div>
								</div>
							</div>

						</div>


						<div class="row prod-table-ventas" style="margin-top: 25px">

							<div class="panel panel-bordered">

							<div class="panel-body ventas-total" style="text-align: center">
									<div class="col-md-3"> 
										<div class="form-group">
											<label>Subtotal:</label>
											<div class="text-size-large sub-total">0.00</div>
										</div>
									</div>
									<div class="col-md-3"> 
										<div class="form-group">
											<label>Dscto:</label>
											<div class="text-size-large dscto">0.00</div>
										</div>
									</div>
									<div class="col-md-3"> 
										<div class="form-group">
											<label>Igv:</label>
											<div class="text-size-large igv">0.00</div>
										</div>
									</div>
									<div class="col-md-3"> 
										<div class="form-group">
											<label>Total:</label>
											<div class="text-size-large total">0.00</div>
										</div>
									</div>

								</div>
							</div>

						</div>

						<div class="row">

							<div class="col-md-12">
			
								<table class="table datatable-responsive  table-striped table-hover" id="tb_producto">
									<thead>
										<tr>
											<th>Item</th>
											<th>Cod. Barras</th>
											<th>Producto</th>
											<th>Precio</th>
											<th>Cantidad</th>
											<th>Importe</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							
							</div>

						

						</div>
					</form>

	
					</div>
			</div>

			<div id="imprime-ticket" style="display: none;">
				
			</div>
  		</div>
  	</div>
</div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()
  	
 	->appendFile($this->basePath() . '/js/theme/picker/picker.js')
  	->appendFile($this->basePath() . '/js/theme/picker/picker.date.js')
  	->appendFile($this->basePath() . '/js/theme/picker/picker.time.js')
  	->appendFile($this->basePath() . '/js/theme/picker/legacy.js')
  	->appendFile($this->basePath() . '/js/theme/picker/es_ES.js')

  	->appendFile($this->basePath() . '/js/theme/formatter.min.js')

    ->appendFile($this->basePath() . '/js/theme/editable/jasny_bootstrap.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/editable.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/mockjax.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/address.js')
    ->appendFile($this->basePath() . '/js/theme/editable/autosize.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/touchspin.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/tagsinput.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/settings.js')

    ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
  	->appendFile($this->basePath() . '/js/theme/responsive.min.js')
    ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')

    ->appendFile($this->basePath() . '/js/theme/mask-money/jquery.maskMoney.min.js')

    ->appendFile($this->basePath() . '/js/theme2/bootstrap-select.js')

    ->appendFile($this->basePath() . '/js/theme/print.js')
	->appendFile($this->basePath() . '/js/theme/jkey/jquery.jkey.js')

    ->appendFile($this->basePath() . '/js/module/ventas/ventas/add.js')

 

?>