	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>

			</div>
		</div>
	</div>



<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/configuracion">Configuración</a></li>
			<li><a href="/configuracion/tipo-cambio">Tipo de cambio</a></li>
			<li class="active">Editar tipo de cambio</li>
      </ol>

 </div>

  <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Tipo de cambio</h5>

					</div>

					<div class="panel-body">

						<form action="#" class="form-horizontal" id="frmTipoCambio">

							<input type="hidden" class="form-control"  id="id_tc" name = "id_tc" value="<?=$this->tipoCambio['id_tc'];?>" readonly>


							<div class="form-group">
								<label class="col-lg-3 control-label">Fecha:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control"  id="fecha" name = "fecha" value="<?=$this->tipoCambio['fecha'];?>" readonly>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Tipo de cambio:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control"  id="valor" name = "valor" value="<?=$this->tipoCambio['valor'];?>">
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="button" class="btn btn-default btn-editar"><i class="fa fa-refresh"></i> Editar</button>
								</div>
							</div>
		
						</form>

					</div>
			</div>
  		</div>
  	</div>
  </div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()

  	->appendFile($this->basePath() . '/js/theme/mask-money/jquery.maskMoney.min.js')

    ->appendFile($this->basePath() . '/js/module/configuracion/tipo-cambio/add.js')

?>