
<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/configuracion">Configuración</a></li>
        <li class="active">Tipo de cambio</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/configuracion/tipo-cambio/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
        </div>

  </div>

  <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">
  			<!-- Basic datatable -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Tipo de cambio</h5>
	
		</div>

		<div class="panel-body">

				<section id="no-more-tables">

		<table class="table datatable-responsive  table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Tipo de cambio</th>
					<th>Fecha</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			<?php foreach ($this->tipoCambio as $data): ?>

				<tr>
					<td><?=$data['id_tc']?></td>
					<td><?=$data['valor']?></td>
					<td><?=$data['fecha']?></td>
					<td class="text-center" data-title="Actions">
						<ul class="icons-list">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bars"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/configuracion/tipo-cambio/edit/<?=$data['id_tc']?>"><i class="fa fa-pencil"></i> Editar</a></li>
									<li><a href="#"><i class="fa fa-remove"></i> Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>

	
				
			<?php endforeach ?>

	
			</tbody>
		</table>

		</section>

		</div>

	</div>
  		</div>
  	</div>
  </div>

</div>
<?php
  echo $this->inlineScript()

      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')

      ->appendFile($this->basePath() . '/js/module/configuracion/tipo-cambio/index.js')
?>