	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>



<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/configuracion">Configuración</a></li>
			<li><a href="/configuracion/cargo">Cargo</a></li>
			<li class="active">Nuevo cargo</li>
      </ol>

</div>


<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">
  			<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Cargo</h5>

					</div>

					<div class="panel-body">

						<form action="#" class="form-horizontal" id="frmCargo">
		
		

							<input type="hidden" id="id_cargo" name="id_cargo" value="<?=$this->cargo['id_cargo']?>">

							<div class="form-group">
								<label class="col-lg-3 control-label">Descripción:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Administrador" id="descripcion" name = "descripcion" required value="<?=$this->cargo['descripcion']?>">
								</div>
							</div>
	
							<div class="form-group">
								<label class="col-lg-3 control-label">Estado:</label>
								<div class="col-lg-9">
									<select class="select" id="estado" name="estado">

									<option value="0" <?=($this->cargo['estado'] == "0") ? "selected" : "" ?>>Activo</option>
									<option value="1" <?=($this->cargo['estado'] == "1") ? "selected" : "" ?>>Inactivo</option>
		
									</select>
								</div>
							</div>
							
						

						<div class="text-left">
							<button type="submit" class="btn btn-primary btn-editar">Editar<i class="icon-arrow-right14 position-right"></i></button>
						</div>
						</form>
					</div>
			</div>
  		</div>
  	</div>
</div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/module/configuracion/cargo/add.js')

?>