<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/recursos-humano">Recursos humano</a></li>
			<li><a href="/recursos-humano/empleado">Empleado</a></li>
			<li class="active">Nuevo empleado</li>
      </ol>

 </div>

 <div class="container-padding container-widget">

 	<div class="row">
 		<div class="col-md-12">

 			<div class="panel panel-default">

			<div class="panel-body">

			<form action="#" class="form-horizontal" id="frmEmpleado">
		
				<div class="tabbable">
				<ul class="nav nav-tabs nav-tabs-highlight">
					<li class="active"><a href="#desc_tab" data-toggle="tab"><i class="icon-magazine position-left"></i> Descripción</a></li>
					<li><a href="#contact_tab" data-toggle="tab"><i class="icon-file-text2 position-left"></i> Datos de contacto</a></li>
					<li><a href="#social_tab" data-toggle="tab"><i class="icon-facebook2  position-left"></i> Redes sociales</a></li>
					
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="desc_tab">

						<div class="row">

							<div class="col-md-8">

							<div class="form-group">
								<label class="col-lg-3 control-label">Nombre:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Jorge" id="nombre" name = "nombre" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Apellido paterno:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Perez" id="ap_pat" name = "ap_pat" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Apellido materno:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Cuellar" id="ap_mat" name = "ap_mat" required>
								</div>
							</div>

					
							<div class="form-group">
								<label class="col-lg-3 control-label">Dni:</label>
								<div class="col-lg-9">
									<input type="digits" class="form-control" placeholder="47841245" id="dni" name="dni" required>
								</div>
							</div>

				
							<div class="form-group">
								<label class="col-lg-3 control-label">Sexo:</label>
								<div class="col-lg-9">
									<select class="select" id="sexo" name="sexo">

										<option value="m">Masculino</option>
										<option value="f">Femenino</option>

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Fecha nacimiento:</label>
								<div class="col-lg-9">
								<div class="input-group">
											<span class="input-group-addon"><i class="icon-calendar2"></i></span>
											<input type="text" class="form-control pickadate-accessibility" id="fecha_nac" name="fecha_nac">
										</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Cargo:</label>
								<div class="col-lg-9">
									<select class="select" id="id_cargo" name="id_cargo">

									<?php foreach ($this->cargo as $data): ?>

										<option value="<?=$data['id_cargo']?>"><?=$data['descripcion']?></option>
										
									<?php endforeach ?>

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Estado:</label>
								<div class="col-lg-9">
									<select class="select" id="estado" name="estado">

										<option value="0">Activo</option>
										<option value="1">Inactivo</option>
											
									</select>
								</div>
							</div>
							
							</div>

							<div class="col-md-4">

							<div class="form-group">

								<div class="col-lg-12">
									<div class="thumb">

									<img src="/img/user.png" id="img-prod">
									<input type="hidden" id="foto" name="foto">
									
									</div>
									
								</div>
								<label class="col-lg-12 control-label" style="text-align: left">Imagen:</label>
								
							</div>

					
							<div class="form-group">
	
								<div class="col-lg-12">
									
									<button class="btn btn-danger btn-foto" type="button"><i class="icon-image4"></i> Examinar</button>
								</div>
							</div>

							</div>
						</div>

				
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-registrar"><i class="fa fa-save"></i>Registrar</button>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="contact_tab">
						<div class="row">
							<div class="col-md-12">

							<div class="form-group">
								<label class="col-lg-3 control-label">Dirección:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="av.peru" id="direccion" name="direccion">
								</div>
							</div>


							<div class="form-group">
									<label class="col-lg-3 control-label">Correo:</label>
									<div class="col-lg-9">
										<input type="email" class="form-control" placeholder="joper30@gmail.com" id="correo" name="correo">
									</div>
							</div>

					
							<div class="form-group">
									<label class="col-lg-3 control-label">Teléfono:</label>
									<div class="col-lg-9">
										<input type="digits" class="form-control" placeholder="4574-244" id="telefono" name="telefono">
									</div>
							</div>

							<div class="form-group">
									<label class="col-lg-3 control-label">Celular:</label>
									<div class="col-lg-9">
										<input type="digits" class="form-control" placeholder="971016454" id="celular" name="celular">
									</div>
							</div>

						</div>

						</div>
					</div>

					<div class="tab-pane" id="social_tab">

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="col-lg-3 control-label">Facebook:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="https://www.facebook.com/josuediazRim" id="facebook" name="facebook" >
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">Twitter:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="https://twitter.com/EDELHcuidadores" id="twitter" name="twitter" >
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">Lindkein:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="https://pe.linkedin.com/" id="linkedin" name="linkedin" >
									</div>
								</div>


							</div>
						</div>
					</div>

				</div>
								
				</div>
			</form>

			</div>

		</div>

 		</div>
 	</div>
 </div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()

      ->appendFile($this->basePath() . '/js/theme/AjaxUpload.2.0.min.js')
      ->appendFile($this->basePath() . '/js/module/recursos-humano/empleado/add.js')

?>