<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
      	<li><a href="/">Dashboard</a></li>
      	<li><a href="/recursos-humano">Recursos humano</a></li>
      	<li><a href="/recursos-humano/empleado">Empleado</a></li>
      	<li class="active">Editar empleado</li>
      </ol>

 </div>


 <div class="container-padding container-widget">

 	<div class="row">
 		<div class="col-md-12">

 		<div class="panel panel-default">

			<div class="panel-body">

				<form action="#" class="form-horizontal" id="frmEmpleado">
		
					<div class="tabbable">
				<ul class="nav nav-tabs nav-tabs-highlight">
					<li class="active"><a href="#desc_tab" data-toggle="tab"><i class="icon-magazine position-left"></i> Descripción</a></li>
					<li><a href="#contact_tab" data-toggle="tab"><i class="icon-file-text2 position-left"></i> Datos de contacto</a></li>
					<li><a href="#social_tab" data-toggle="tab"><i class="icon-facebook2  position-left"></i> Redes sociales</a></li>
					
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="desc_tab">

						<div class="row">

							<div class="col-md-8">

							<input type="hidden" id="id_empleado" name="id_empleado" value="<?=$this->empleado['id_empleado']?>">

							<div class="form-group">
								<label class="col-lg-3 control-label">Nombre:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Jorge" id="nombre" name = "nombre" required value="<?=$this->empleado['nombre']?>">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Apellido paterno:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Perez" id="ap_pat" name = "ap_pat" required value="<?=$this->empleado['ap_pat']?>">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Apellido materno:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Cuellar" id="ap_mat" name = "ap_mat" required value="<?=$this->empleado['ap_mat']?>">
								</div>
							</div>

					
							<div class="form-group">
								<label class="col-lg-3 control-label">Dni:</label>
								<div class="col-lg-9">
									<input type="digits" class="form-control" placeholder="47841245" id="dni" name="dni" required value="<?=$this->empleado['dni']?>">
								</div>
							</div>

				
							<div class="form-group">
								<label class="col-lg-3 control-label">Sexo:</label>
								<div class="col-lg-9">
									<select class="select" id="sexo" name="sexo">

										<option value="m" <?php echo ($this->empleado['sexo'] == "m") ? "selected":""?>>Masculino</option>
										<option value="f" <?php echo ($this->empleado['sexo'] == "f") ? "selected":""?>>Femenino</option>

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Fecha nacimiento:</label>
								<div class="col-lg-9">
								<div class="input-group">
											<span class="input-group-addon"><i class="icon-calendar2"></i></span>
											<input type="text" class="form-control pickadate-accessibility" placeholder="miercoles 26 de septiembre de 1990" id="fecha_nac" name="fecha_nac"  value="<?=date("d-m-Y", strtotime( $this->empleado['fecha_nac']))?>">
										</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Cargo:</label>
								<div class="col-lg-9">
									<select class="select" id="id_cargo" name="id_cargo">

									<?php foreach ($this->cargo as $data): ?>

										<option value="<?=$data['id_cargo']?>" <?= ($this->empleado['id_cargo'] == $data['id_cargo']) ? "selected" : "" ?>><?=$data['descripcion']?></option>
							
								
									<?php endforeach ?>

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Estado:</label>
								<div class="col-lg-9">
									<select class="select" id="estado" name="estado">

										<option value="0" <?=($this->empleado['estado'] == "0") ? "selected" : "";?>>Activo</option>
										<option value="1" <?=($this->empleado['estado'] == "1") ? "selected" : "";?>>Inactivo</option>
											
									</select>
								</div>
							</div>
							
							</div>

							<div class="col-md-4">

							<div class="form-group">

								<div class="col-lg-12">
									<div class="thumb">

									<?php 

										$foto = "/img/user.png";

										if ($this->empleado['foto'] !="" || $this->empleado['foto'] !=null) {
											
											$foto = "/img/usuarios/".$this->empleado['foto'];
										}

									?>

									<img src="<?=$foto?>" id="img-prod">

									<input type="hidden" id="foto" name="foto" value="<?=$this->empleado['foto']?>">
									
									</div>
									
								</div>
								<label class="col-lg-12 control-label" style="text-align: left">Imagen:</label>
								
							</div>

					
							<div class="form-group">
	
								<div class="col-lg-12">
									
									<button class="btn btn-danger btn-foto" type="button"><i class="icon-image4"></i> Examinar</button>
								</div>
							</div>

							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-editar"><i class="fa fa-refresh"></i>Editar</button>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="contact_tab">
						<div class="row">
							<div class="col-md-12">

							<div class="form-group">
								<label class="col-lg-3 control-label">Dirección:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="av.peru" id="direccion" name="direccion" value="<?=$this->empleado['direccion']?>">
								</div>
							</div>


							<div class="form-group">
									<label class="col-lg-3 control-label">Correo:</label>
									<div class="col-lg-9">
										<input type="email" class="form-control" placeholder="joper30@gmail.com" id="correo" name="correo" value="<?=$this->empleado['correo']?>">
									</div>
							</div>

					
							<div class="form-group">
									<label class="col-lg-3 control-label">Teléfono:</label>
									<div class="col-lg-9">
										<input type="digits" class="form-control" placeholder="4574-244" id="telefono" name="telefono" value="<?=$this->empleado['telefono']?>">
									</div>
							</div>

							<div class="form-group">
									<label class="col-lg-3 control-label">Celular:</label>
									<div class="col-lg-9">
										<input type="digits" class="form-control" placeholder="971016454" id="celular" name="celular" value="<?=$this->empleado['celular']?>">
									</div>
							</div>

						</div>

						</div>
					</div>

					<div class="tab-pane" id="social_tab">

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="col-lg-3 control-label">Facebook:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="https://www.facebook.com/josuediazRim" id="facebook" name="facebook" value="<?=$this->empleado['facebook']?>">
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">Twitter:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="https://twitter.com/EDELHcuidadores" id="twitter" name="twitter" value="<?=$this->empleado['twitter']?>">
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">Lindkein:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="https://pe.linkedin.com/" id="linkedin" name="linkedin" value="<?=$this->empleado['linkedin']?>" >
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
								
					</div>

				</form>

			</div>

		</div>
 		</div>
 	</div>
 </div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()

  	  ->appendFile($this->basePath() . '/js/theme/picker/picker.js')
  	  ->appendFile($this->basePath() . '/js/theme/picker/picker.date.js')
  	  ->appendFile($this->basePath() . '/js/theme/picker/picker.time.js')
  	  ->appendFile($this->basePath() . '/js/theme/picker/legacy.js')
  	  ->appendFile($this->basePath() . '/js/theme/picker/es_ES.js')
      ->appendFile($this->basePath() . '/js/theme/AjaxUpload.2.0.min.js')
      ->appendFile($this->basePath() . '/js/module/recursos-humano/empleado/add.js')

?>