
<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Buscando ...</p>
				
				</div>


			</div>
		</div>
</div>

<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/recursos-humano">Recursos humano</a></li>
        <li class="active">Empleado</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/recursos-humano/empleado/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
        </div>

</div>


<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  			<!-- Basic datatable -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Empleado</h5>
	
		</div>

		<div class="panel-body">
			<form action="#" class="main-search">
								<div class="input-group content-group">
									<div class="has-feedback has-feedback-left">
										<input type="text" class="form-control input-xlg" placeholder="Josue Diaz Rimache" id="search">
										<div class="form-control-feedback">
											<i class="icon-search4 text-muted text-size-base"></i>
										</div>
									</div>

									<div class="input-group-btn">
										<button type="button" class="btn btn-primary btn-xlg btn-search">Search</button>
									</div>
								</div>
			</form>
		</div>

		
	</div>

	<div class="row" id="search-content">

	<?php foreach ($this->empleado as $data): ?>

		<div class="col-lg-3 col-md-6">
			<div class="thumbnail">
				<div class="thumb thumb-rounded">

					<?php 

					    $foto = "/img/user.png";

						if ($data['foto'] !="" || $data['foto'] != null){
       						
							$foto = "/img/usuarios/".$data['foto'];

						} 
					?>

					<img src="<?=$foto?>" alt="">
					
					<div class="caption-overflow">
						<span>

							<a href="/recursos-humano/empleado/edit/<?=$data['id_empleado']?>" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
						</span>
					</div>
				</div>

				<div class="caption text-center">
				<h6 class="text-semibold no-margin"><?=$data['nombre'] ." ". $data['ap_pat'] ." ". $data['ap_mat']  ?> <small class="display-block"><?=$data['descripcion']?></small></h6>
					<ul class="icons-list mt-15">

						<?php if ($data['facebook'] !=null || $data['facebook'] !=""): ?>

							<li><a href="<?=$data['facebook']?>" target="_blank" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook"></i></a></li>
							
						<?php endif ?>

						<?php if ($data['twitter'] !=null || $data['twitter'] !=""): ?>

							<li><a href="<?=$data['twitter']?>" target="_blank" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
							
						<?php endif ?>

						<?php if ($data['linkedin'] !=null || $data['linkedin'] !=""): ?>

							<li><a href="<?=$data['linkedin']?>"  target="_blank" data-popup="tooltip" title="Linkedin" data-container="body"><i class="icon-linkedin"></i></a></li>
							
						<?php endif ?>

					</ul>
				</div>
			</div>
		</div>
		
	<?php endforeach ?>


	</div>
  		</div>
  	</div>
</div>


</div>

<?php
  echo $this->inlineScript()

      ->appendFile($this->basePath() . '/js/module/recursos-humano/empleado/index.js')
?>