<?php 

$auth = new \Zend\Authentication\AuthenticationService();

$identi = $auth->getStorage()->read();

$usuario_session = new \Zend\Session\Container("usuario");

$foto = "/img/usuarios/face11.jpg";

if ($usuario_session->foto != "") {
 $foto = "/img/usuarios/".$usuario_session->foto;
}

?>
  <!-- START TOP -->
  <div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
      <a href="index.html" class="logo">Soft24 Market</a>
    </div>
    <!-- End App Logo -->
    
     <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->
    
     <!-- page title -->
    <h1 class="title">Dashboard</h1>
      <!-- End page title -->

   
    <!-- Start Sidepanel Show-Hide Button -->
    <a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-th-large"></i></a>
    <!-- End Sidepanel Show-Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">
 <!-- Start Searchbox -->
    <form class="searchform">
      <input type="text" class="searchbox" id="searchbox" placeholder="Search">
      <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->
    <li class="dropdown link">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle hdbutton">Add New <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-list">
          <li><a href="#"><i class="fa falist fa-suitcase"></i>Product</a></li>
          <li><a href="#"><i class="fa falist fa-comments-o"></i>Blog Post</a></li>
          <li><a href="#"><i class="fa falist fa-image"></i>Image Gallery</a></li>
          <li><a href="#"><i class="fa falist fa-video-camera"></i>Video Gallery</a></li>
        </ul>
    </li>

    <li class="link">
      <a href="#" class="notifications">6</a>
    </li>

    

    </ul>
    <!-- End Top Right -->

  </div>
  <!-- END TOP -->

  !-- START SIDEBAR -->
<div class="sidebar clearfix">
<div class="dropdown link">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="<?=$foto?>" alt="img">
     <div class="user-name"><b><?=$usuario_session->nombre?> (<?=$identi->rol?>) </b><span class="caret"></span></div></a>
        <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
          <li role="presentation" class="dropdown-header">Profile</li>
          <li><a href="#"><i class="fa falist fa-envelope"></i>Inbox<span class="badge label-danger">4</span></a></li>
          <li><a href="#"><i class="fa falist fa-file-o"></i>Files</a></li>
          <li><a href="#"><i class="fa falist fa-gear"></i>Settings</a></li>
          <li><a href="#"><i class="fa falist fa-lock"></i> Lockscreen</a></li>
          <li><a href="/login/logout"><i class="fa falist fa-power-off"></i> Logout</a></li>
        </ul>
       
       
    </div>
<ul class="sidebar-panel nav">
  <li class="sidetitle">MAIN</li>
  <li><a href="/"><span class="icon color5"><i class="fa fa-home"></i></span>Dashboard<span class="label label-red">2</span></a></li>

  <?php 


  switch ($identi->rol) {
    case 'administrador':
    echo $this->partial('/layout/partial/menu/administrador.phtml');
    break;
    case 'cajero':
    echo $this->partial('/layout/partial/menu/cajero.phtml');
    break;

    case 'contador':
    echo $this->partial('/layout/partial/menu/contador.phtml');
    break;

    case 'almacenero':
    echo $this->partial('/layout/partial/menu/almacenero.phtml');
    break;

    default:
                                        # code...
    break;
}



?>
     

                     

</ul>




</div>
<!-- END SIDEBAR -->