	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/almacen">Almacén</a></li>
			<li><a href="/almacen/proveedor">Proveedor</a></li>
			<li class="active">Editar proveedor</li>
      </ol>

</div>

<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Proveedor</h5>

					</div>

					<div class="panel-body">
					<form action="#" class="form-horizontal" id="frmProveedor">

						<div class="row">

							<div class="col-md-8">

								<input type="hidden" id="id_prov" name="id_prov" value="<?=$this->datos['id_prov']?>">

								<div class="form-group">
									<label class="col-lg-3 control-label">Razón social:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="Papelera SAC" id="razon_social" name = "razon_social" value="<?=$this->datos['razon_social']?>" required>
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">RUC:</label>
									<div class="col-lg-9">
										<input type="digits" class="form-control" placeholder="1046451214" id="ruc" name = "ruc" value="<?=$this->datos['ruc']?>" required>
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">Vendedor:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="Juan Perez" id="vendedor" name = "vendedor" required value="<?=$this->datos['vendedor']?>">
									</div>
								</div>


								<div class="form-group">
									<label class="col-lg-3 control-label">Teléfono:</label>
									<div class="col-lg-9">
										<input type="digits" class="form-control" placeholder="285-451" id="telefono" name="telefono" value="<?=$this->datos['telefono']?>" required>
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">Correo:</label>
									<div class="col-lg-9">
										<input type="email" class="form-control" placeholder="joper30@gmail.com" id="correo" name="correo" value="<?=$this->datos['correo']?>" required>
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label">Página web:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="http://www.edelh.com" id="web" name="web" value="<?=$this->datos['web']?>" required>
									</div>
								</div>


								<div class="form-group">
									<label class="col-lg-3 control-label">Estado:</label>
									<div class="col-lg-9">
										<select class="select" id="estado" name="estado">

											<option value="0" <?=($this->datos['estado'] == "0") ? "selected" : "" ?>>Activo</option>
											<option value="1" <?=($this->datos['estado'] == "1") ? "selected" : "" ?>>Inactivo</option>
												
										</select>
									</div>
								</div>
								
							</div>

							<div class="col-md-4">

								<div class="form-group">

									<div class="col-lg-12">
										<div class="thumb">

										<?php 
											$foto = "/img/thumbnail-default.jpg";
											if($this->datos['logo'] !=null || $this->datos['logo'] != "" ){

												$foto = "/img/proveedores/".$this->datos['logo'];

											}
										?>

										<img src="<?=$foto?>" id="img-prod">

										<input type="hidden" id="logo" name="logo">
										
										</div>
										
									</div>
									<label class="col-lg-12 control-label" style="text-align: left">Logo de la empresa:</label>
									
								</div>

								<div class="form-group">
		
									<div class="col-lg-12">
										<button class="btn btn-danger btn-foto btn-xs" type="button"><i class="icon-image4"></i> Examinar</button>
									</div>
								</div>

							</div>
						</div>

						<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default btn-editar"><i class="fa fa-refresh"></i> Editar</button>
								</div>
						</div>

					</form>

					</div>
			</div>
  		</div>
  	</div>
</div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()

      ->appendFile($this->basePath() . '/js/theme/AjaxUpload.2.0.min.js')
      ->appendFile($this->basePath() . '/js/module/almacen/proveedor/add.js')

?>