	<div id="mDelete" class="modal fade" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">¿Desea eliminar este registro?</h6>
					</div>

					<div class="modal-body">

					    <p>Si lo elimina no podra recuperalo , ¿esta  completamente seguro de eliminarlo ?</p>

						<div class="loading" style="display: none">
							<i class="icon-spinner10 spinner"></i>

							<p> Procesando ...</p>
						</div>
					</div>

					<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">No</button>
									<button type="button" class="btn btn-info" id="btn-si">Si</button>
								</div>


				</div>
			</div>
		</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/almacen">Almacén</a></li>
        <li class="active">Proveedor</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/almacen/proveedor/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
        </div>

 </div>

 <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  			<!-- Basic datatable -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Proveedor</h5>
	
		</div>

		<div class="panel-body">

		
		<input type="hidden" id="id_prov">

		<section id="no-more-tables">

		<table class="table datatable-responsive  table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Logo</th>
					<th>Razón social</th>
					<th>Ruc</th>
					<th>Telefono</th>
					<th>Estado</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			<?php 

			foreach ($this->proveedor as $data) {
			?>

			<tr>
				<td data-title="Id"><?=$data['id_prov']?></td>
				<td data-title="Logo">
						
					<?php 
						$foto = "/img/thumbnail-default.jpg";
							if($data['logo'] !=null || $data['logo'] != "" ){

								$foto = "/img/proveedores/".$data['logo'];

							}
					?>
					
					<img src="<?=$foto?>"  width="100">

				</td>
				<td data-title="Razón social"><?=$data['razon_social']?></td>
				<td data-title="Ruc"><?=$data['ruc']?></td>
				<td data-title="Telefono"><?=$data['telefono']?></td>
				<td data-title="Estado"><?=$this->funcionesHelper("estado",$data['estado'])?></td>
				<td class="text-center" data-title="Actions">
					<ul class="icons-list">
						<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/almacen/proveedor/edit/<?=$data['id_prov']?>"><i class="icon-pencil7"></i> Editar</a></li>
									<li><a  href="javascript:void(0)" class="delete-prov" data="<?=$data['id_prov']?>" data-toggle="modal" data-target="#mDelete"><i class="icon-x"></i> Eliminar</a></li>
								</ul>
						</li>
					</ul>
				</td>

			</tr>

			<?php 
			}
			?>

			</tbody>
		</table>
		</section>
		
		</div>


	</div>
  		</div>
  	</div>
 </div>




</div>

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/almacen/proveedor/index.js')
             
?>