.loading{
	text-align: center
}

.loading i{
	font-size: 5.3em
}

.datepicker table tr td.active.day{
	background-color: #26a69a;
}

.ventas-header-precio{
	padding: 8px
}

.prod-table-ventas .btn-float{
	margin-right: 2px;
	margin-left: 2px;
}

#pago-tarjeta-select{
	display: none;
}

#frmVentas .form-group{
	margin-bottom: 7px
}

.panel-body.ventas-total label{
	font-weight: bold;
}