<!-- Page header -->
<div class="page-header">
	<div class="page-header-content">
		<div class="page-title">
		<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Reporte de Productos</span></h4>
		</div>

	
	</div>

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a href="/"><i class="icon-home2 position-left"></i> Home</a></li>
			<li><a href="/reportes">Reportes</a></li>
			<li class="active">Productos</li>
		</ul>

		<ul class="breadcrumb-elements">
			<li><a href="/compras/compras/add"><i class="icon-add"></i> Agregar nuevo</a></li>

		</ul>
	</div>
</div>


<div id="mProveedor" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

			    <div class="modal-header bg-danger">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Lista Proveedores</h6>
			    </div>

				<div class="modal-body">

					<section id="no-more-tables">

							<table class="table datatable-responsive  table-striped table-hover" id="tb_prov_modal">
						<thead>
							<tr>
								<th>Id</th>
								<th>Logo</th>
								<th>Razón social</th>
								<th>Estado</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>

						<?php 

							foreach ($this->proveedor as $data) {

						?>

						<tr>
							<td data-title="Id"><?=$data['id_prov']?></td>
							<td data-title="Foto">
						
							<?php 
								$foto = "/img/thumbnail-default.jpg";
						

								$fotoItem = '<img src='.$foto.'  width="100">';
								$estado = $this->funcionesHelper("estado",$data['estado']);
								if($data['logo'] !=null || $data['logo'] != "" ){

									$foto = "/img/proveedores/".$data['logo'];

								}
							?>
					
								<img src="<?=$foto?>"  width="100">

							</td>
							<td data-title="Razón social"><?=$data['razon_social']?></td>
				
							<td data-title="Estado"><?=$estado;?></td>
							<td class="text-center" data-title="Actions">
								<ul class="icons-list">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="icon-menu9"></i>
									</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li>
										<a href="javascript:void(0)" data-id='<?=$data['id_prov'];?>'  class="aProveedor"><i class="icon-printer"></i> Ver reporte</a>
										</li>
									
									</ul>
									</li>
								</ul>
							</td>

						</tr>

					<?php 
				}
				?>
						</tbody>
					</table>


					</section>

			
					
				</div>


			</div>
		</div>
	</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
	<!-- Basic datatable -->
	<div class="panel panel-flat">
		<div class="panel-heading">
			<h5 class="panel-title">Productos</h5>
	
		</div>

		<div class="panel-body">
			<form class="form-inline" action="" id="frmProducto">

				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" class="styled" name="reporte"  value="stock" checked>
						Reporte de stock
					</label>
				</div>

				<div class="form-group">

					<label class="radio-inline">
						<input type="radio" class="styled" name="reporte" value="sin-stock">
						Productos sin stock
					</label>
				</div>

				<div class="form-group">

					<label class="radio-inline">
						<input type="radio" class="styled" name="reporte" value="prov">
						Productos x Proveedor
					</label>
				</div>

				<button type="button" class="btn btn-danger" id="btn-ver-reporte"> <i class="icon icon-point-right"></i> Ver reporte</button>
				
			</form>
		</div>

	</div>

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/reportes/producto/index.js')
             
?>