	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>

	<div id="mSucursal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

			    <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Lista de Sucursales</h6>
			    </div>

				<div class="modal-body">

					<table class="table datatable-responsive  table-striped table-hover" id="tb_sucur_modal">
						<thead>
							<tr>
								<th>Id</th>
								<th>Descripción</th>
								<th>Dirección</th>
								<th>Estado</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>

						<?php foreach ($this->sucursal as $data): ?>

							<tr>
								<td><?=$data['id_sucursal']?></td>
								<td><?=$data['descripcion']?></td>
								<td><?=$data['direccion']?></td>
								<td><?=$this->funcionesHelper("estado",$data['estado'])?></td>
								<td class="text-center">
									<ul class="icons-list">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<ul class="dropdown-menu dropdown-menu-right">
												<li>
												<a href="javascript:void(0)" data-id='<?=$data['id_sucursal'];?>' data-desc ='<?=$data['descripcion'];?>' class="aSucursal"><i class="icon-checkmark4"></i> Agregar</a>
												</li>

											</ul>
										</li>
									</ul>
								</td>
							</tr>
							
						<?php endforeach ?>

						</tbody>
					</table>
					
				</div>


			</div>
		</div>
	</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/almacen">Almacén</a></li>
			<li><a href="/almacen/almacen">Almacén</a></li>
			<li class="active">Editar almacén</li>
      </ol>

</div>

<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">
  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Almacén</h5>
					</div>

					<div class="panel-body">

						<form action="#" class="form-horizontal" id="frmAlmacen">
		
							<input type="hidden" id="id_almacen" name="id_almacen" value="<?=$this->datos['id_almacen']?>"> 

							<div class="form-group">
								<label class="col-lg-3 control-label">Nombre:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Almacén 1" id="nombre" name = "nombre" required value="<?=$this->datos['nombre'];?>">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Sucursal:</label>

								<div class="col-lg-8">
									<input type="text" class="form-control" placeholder="Sucursal Benavides" readonly id="sucursal" required value="<?=$this->datos['sucursal'];?>">
									<input type="hidden" id="id_sucursal" name="id_sucursal" value="<?=$this->datos['id_sucursal'];?>">
								</div>

								<div class="col-lg-1">
									<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#mSucursal"><i class="icon-search4"></i></button>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Estado:</label>
								<div class="col-lg-9">
									<select class="select" id="estado" name="estado">

										<option value="0" <?=($this->datos['estado'] == "0") ? "selected" : "";?>>Activo</option>
										<option value="1" <?=($this->datos['estado'] == "1") ? "selected" : "";?>>Inactivo</option>
											
									</select>
								</div>
							</div>
						

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default btn-editar"><i class="fa fa-refresh"></i> Editar</button>
								</div>
							</div>

						</form>

					</div>
			</div>
  		</div>
  	</div>
</div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()

  	  ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/almacen/almacen/add.js')

?>