

<!-- Content area -->
<div class="content">
<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/almacen">Almacén</a></li>
        <li class="active">Almacén</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/almacen/almacen/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
      </div>
 </div>

 <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">
  			<!-- Basic datatable -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Almacén</h5>
		
			</div>

			<div class="panel-body">

				<section id="no-more-tables">

					<table class="table datatable-responsive  table-striped table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Sucursal asignado</th>
							<th>Estado</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>

					<?php foreach ($this->almacen as $data): ?>

						<tr>
							<td data-title="Id"><?=$data['id_almacen']?></td>
							<td data-title="Nombre"><?=$data['nombre']?></td>
							<td data-title="Sucursal asignado"><?=$data['sucursal']?></td>
							<td data-title="Estado"><?=$this->funcionesHelper("estado",$data['estado'])?></td>
							<td class="text-center" data-title="Actions">
								<ul class="icons-list">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="icon-menu9"></i>
										</a>

										<ul class="dropdown-menu dropdown-menu-right">
											<li><a href="/almacen/almacen/edit/<?=$data['id_almacen']?>"><i class="icon-pencil7"></i> Editar</a></li>
											<li><a href="#"><i class="icon-x"></i> Eliminar</a></li>
										</ul>
									</li>
								</ul>
							</td>
						</tr>
						
					<?php endforeach ?>

					</tbody>
				</table>
				</section>
		
			</div>

		</div>
  		</div>
  	</div>
 </div>

</div>

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/almacen/almacen/index.js')
             
?>