	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>


<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/configuracion">Configuración</a></li>
			<li><a href="/configuracion/caja">Caja</a></li>
			<li class="active">Nueva caja</li>
      </ol>

  </div>

  <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  			<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Caja</h5>

					</div>

					<div class="panel-body">

						<form action="#" class="form-horizontal" id="frmCaja">

							<div class="form-group">
								<label class="col-lg-3 control-label">Nombre caja:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="001" id="nom_caja" name = "nom_caja" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Código sunat:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control"  id="codigo_sunat" name = "codigo_sunat" >
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Sucursal:</label>
								<div class="col-lg-9">
									<select class="select-search" id="id_sucursal" name="id_sucursal">

									<?php foreach ($this->sucursal as $data): ?>

										<option value="<?=$data['id_sucursal']?>"><?=$data['descripcion']?></option>
										
									<?php endforeach ?>

										
											
									</select>
								</div>
							</div>
	
							<div class="form-group">
								<label class="col-lg-3 control-label">Estado:</label>
								<div class="col-lg-9">
									<select class="select" id="estado" name="estado">

										<option value="0">Activo</option>
										<option value="1">Inactivo</option>
											
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default btn-registrar"><i class="fa fa-save"></i> Registrar</button>
								</div>
							</div>
						</form>

					</div>
			</div>

  		</div>
  	</div>

  </div>


</div>



<?php
  echo $this->inlineScript()
  	->appendFile($this->basePath() . '/js/theme/formatter.min.js')
    ->appendFile($this->basePath() . '/js/module/configuracion/caja/add.js')

?>