

<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/configuracion">Configuración</a></li>
        <li class="active">Caja</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/configuracion/caja/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
        </div>

  </div>

  <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Cajas</h5>
	
		</div>

		<div class="panel-body">
	
		</div>

		<section id="no-more-tables">

		<table class="table datatable-responsive  table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre caja</th>
					<th>Código sunat</th>
					<th>Sucursal</th>
					<th>Estado</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			<?php foreach ($this->caja as $data): ?>

				<tr>
					<td><?=$data['id_caja']?></td>
					<td><?=$data['nom_caja']?></td>
					<td><?=$data['codigo_sunat']?></td>
					<td><?=$data['sucursal']?></td>
					<td><?=$this->funcionesHelper("estado",$data['estado'])?></td>
					<td class="text-center" data-title="Actions">
						<ul>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bars"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/configuracion/caja/edit/<?=$data['id_caja']?>"><i class="fa fa-pencil"></i> Editar</a></li>
									<li><a href="#"><i class="fa fa-remove"></i> Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				
			<?php endforeach ?>

	
			</tbody>
		</table>

		</section>

		
		</div>
  		</div>
  	</div>
  </div>

 </div>




<?php
  echo $this->inlineScript()

      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/configuracion/caja/index.js')
?>