	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>


	<div id="mProveedor" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

			    <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Lista Proveedores</h6>
			    </div>

				<div class="modal-body">

					<section id="no-more-tables">

							<table class="table datatable-responsive  table-striped table-hover" id="tb_prov_modal">
						<thead>
							<tr>
								<th>Id</th>
								<th>Logo</th>
								<th>Razón social</th>
								<th>Estado</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>

						<?php 

							foreach ($this->proveedor as $data) {

						?>

						<tr>
							<td data-title="Id"><?=$data['id_prov']?></td>
							<td data-title="Foto">
						
							<?php 
								$foto = "/img/thumbnail-default.jpg";
								$action = '<ul class="icons-list"><li class="dropdown">	
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-menu9"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a href="javascript:void(0)"><i class="icon-x"></i> Eliminar</a>
									</li>
								</ul>
								</li></ul>';

								$fotoItem = '<img src='.$foto.'  width="100">';
								$estado = $this->funcionesHelper("estado",$data['estado']);
								if($data['logo'] !=null || $data['logo'] != "" ){

									$foto = "/img/proveedores/".$data['logo'];

								}
							?>
					
								<img src="<?=$foto?>"  width="100">

							</td>
							<td data-title="Razón social"><?=$data['razon_social']?></td>
				
							<td data-title="Estado"><?=$estado;?></td>
							<td class="text-center" data-title="Actions">
								<ul class="icons-list">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="icon-menu9"></i>
									</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li>
										<a href="javascript:void(0)" data-id='<?=$data['id_prov'];?>' data-logo='<?=$fotoItem?>'data-razon='<?=$data['razon_social']?>' data-estado = '<?=$estado;?>' data-action = '<?=$action?>' class="aProveedor"><i class="icon-checkmark4"></i> Agregar</a>
										</li>
									
									</ul>
									</li>
								</ul>
							</td>

						</tr>

					<?php 
				}
				?>
						</tbody>
					</table>


					</section>

			
					
				</div>


			</div>
		</div>
	</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/almacen">Almacén</a></li>
			<li><a href="/almacen/producto">Producto</a></li>
			<li class="active">Nuevo producto</li>
      </ol>

</div>

<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">

			<div class="panel-body">

			<form action="#" class="form-horizontal" id="frmProducto">
	
			<div class="tabbable">
				<ul class="nav nav-tabs nav-tabs-highlight">
					<li class="active"><a href="#desc_tab" data-toggle="tab"><i class="icon-magazine position-left"></i> Descripción</a></li>
					<li><a href="#prov_tab" data-toggle="tab"><i class="icon-user-check position-left"></i> Proveedores</a></li>
				
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="desc_tab">

						<div class="row">

							<div class="col-md-8">

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Nombre:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="nombre del producto" id="nom_prod" name = "nom_prod" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Tipo producto:</label>
								<div class="col-sm-10">
									<select class="select-search" id="id_tipo_prod" name="id_tipo_prod">

								     <?=$this->productoHelper("select-tipo-prod");?>

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Stock:</label>
								<div class="col-sm-10">
									<input type="digits" class="form-control" placeholder="0" id="stock" name="stock" readonly>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Stock minimo:</label>
								<div class="col-sm-10">
									<input type="digits" class="form-control" placeholder="0" id="stock_min" name="stock_min" required>
								</div>
							</div>

					

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Unidad de medida:</label>
								<div class="col-sm-10">
									<select class="select-search" id="id_unidad" name="id_unidad">

										 <?=$this->productoHelper("select-unid-med");?>

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Tipo de venta</label>
								<div class="col-sm-10">

									<div class="checkbox checkbox-info">
										<input type="checkbox" id="caja">
										<label for="caja">
										X Caja
										</label>
									</div>

									<div class="checkbox checkbox-info">
										<input type="checkbox" id="unidad" checked>
										<label for="unidad">
										X Unidad
										</label>
									</div>

								</div>
							</div>

							<div class="form-group caja" style="display: none">
								<label class="col-sm-2 control-label form-label">Unidades x caja:</label>
								<div class="col-sm-10">
									<input type="digits" class="form-control" placeholder="12" id="und_x_caja" name="und_x_caja">
								</div>
							</div>

							<div class="form-group caja" style="display: none">
								<label class="col-sm-2 control-label form-label">Cod Barras (caja):</label>
								<div class="col-sm-10">
									<input type="digits" class="form-control money" placeholder="145554121444" id="cod_barras_c" name="cod_barras_c">
								</div>
							</div>

							<div class="form-group caja" style="display: none">
								<label class="col-sm-2 control-label form-label">Precio venta caja:</label>
								<div class="col-sm-10">

								<input type="text" class="form-control money" placeholder="25.20" id="prec_caja" name="prec_caja">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Precio venta unitario:</label>
								<div class="col-sm-10">


									<input type="text" class="form-control" placeholder="25.20" id="prec_vent" name="prec_vent">

								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Cod Barras (unitario):</label>
								<div class="col-sm-10">
									<input type="digits" class="form-control" placeholder="145554121444" id="cod_barras" name="cod_barras" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Afecto IGV:</label>
								<div class="col-sm-10">

							       <input type="checkbox" data-toggle="toggle" data-onstyle="success" id="igv" data-on="Si" data-off="No">

								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Estado:</label>
								<div class="col-sm-10">
									<select class="select" id="estado" name="estado">

										<option value="0">Activo</option>
										<option value="1">Inactivo</option>
											
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default btn-registrar"><i class="fa fa-save"></i> Registrar</button>
								</div>
							</div>
							
							</div>

							<div class="col-md-4">

							<div class="form-group">

								<div class="col-lg-12">
									<div class="thumb">

									<img src="/img/thumbnail-default.jpg" id="img-prod">
									<input type="hidden" id="foto" name="foto">
									
									</div>
									
								</div>
								<label class="col-lg-12 control-label">Imagen:</label>
								
							</div>

					
							<div class="form-group">
	
								<div class="col-lg-12">
									
									<button class="btn btn-danger btn-foto" type="button"><i class="icon-image4"></i> Examinar</button>
								</div>
							</div>

							</div>
						</div>

						</div>

					<div class="tab-pane" id="prov_tab">
							<div class="form-group">
								<label class="col-sm-2 control-label form-label">Seleccionar proveedor:</label>
								<div class="col-sm-10">
									<button class="btn btn-info" type="button" data-toggle="modal" data-target="#mProveedor"> Seleccionar</button>
								</div>
							</div>

							<input type="hidden" name="prov_prod" id="prov_prod">


							<table class="table datatable-responsive  table-striped table-hover" id="tb_prov">
									<thead>
										<tr>
											<th>Id</th>
											<th>Logo</th>
											<th>Razón social</th>
											<th>Estado</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
							</table>
								
					
					</div>

				</div>
								
			</div>

			</form>

			</div>

		</div>
  		</div>
  	</div>
</div>

</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()

  	  ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/theme/AjaxUpload.2.0.min.js')
      ->appendFile($this->basePath() . '/js/theme2/bootstrap-toggle.min.js')

      ->appendFile($this->basePath() . '/js/theme/mask-money/jquery.maskMoney.min.js')

      ->appendFile($this->basePath() . '/js/module/almacen/producto/add.js')

?>