

<div class="modal fade" id="process" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body" style="text-align: center">
				<i class="fa fa-spinner fa-5x"></i>
				<p> Procesando ...</p>
			</div>

		</div>
	</div>
</div>


    <div class="login-form">
      <form action="" id="frmLogin">
        <div class="top">
          <img src="/img/logo_light.png" alt="icon" class="icon">
          <h1>Soft24 Market</h1>
          <h4>Inicia sesión</h4>
        </div>
        <div class="form-area">
          <div class="group">
            <input type="text" class="form-control" placeholder="Username" id="user_name" name="user_name" required>
            <i class="fa fa-user"></i>
          </div>
          <div class="group">
            <input type="password" class="form-control" placeholder="Password" id="user_pass" name="user_pass" required>
            <i class="fa fa-key"></i>
          </div>
          <div class="checkbox checkbox-primary">
            <input id="checkbox101" type="checkbox" checked>
            <label for="checkbox101"> Remember Me</label>
          </div>
          <button type="submit" class="btn btn-default btn-block btn-login">LOGIN</button>
        </div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="#"><i class="fa fa-external-link"></i> Register Now</a></div>
        <div class="col-xs-6 text-right"><a href="#"><i class="fa fa-lock"></i> Forgot password</a></div>
      </div>
    </div>



<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/module/application/login/index.js')
             
?>
