           <li>
           <a href="#"><span class="icon color7"><i class="fa fa-cogs"></i> </span> Configuración<span class="caret"></span></a>
            <ul>
                <li><a href="/configuracion/sucursal">Sucursales</a></li>
                <li><a href="/configuracion/caja">Caja</a></li>
                <li><a href="/configuracion/tipo-cambio">Tipo de cambio</a></li>
                <li><a href="/configuracion/cargo">Cargo</a></li>
                <li><a href="/configuracion/usuario">Usuario</a></li>
                <li><a href="/configuracion/promocion">Promoción</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span class="icon color7"><i class="fa fa-user"></i> </span>RR.HH <span class="caret"></span></a>
            <ul>
                <li><a href="/recursos-humano/empleado">Empleado</a></li>

            </ul>
        </li>

        <li>
            <a href="#"><span class="icon color7"><i class="fa fa-dollar"></i> </span> Ventas <span class="caret"></span></a>
            <ul>
                <li><a href="/ventas/ventas/add">Registrar ventas</a></li>
                <li><a href="/ventas/caja">Caja</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="icon color7"><i class="fa fa-shopping-cart"></i> </span>Compras <span class="caret"></span></a>
            <ul>
                <li><a href="/compras/compras" id="layout1">Registro de compras</a></li>
                <li><a href="/compras/reportes" id="layout2">Reportes </a></li>

            </ul>
        </li>

        <li>
            <a href="#"><span class="icon color7"><i class="fa fa-building-o"></i> </span>Almacen <span class="caret"></span></a>
            <ul>
                <li><a href="/almacen/producto">Producto</a></li>
                <li><a href="/almacen/proveedor">Proveedores</a></li>
                <li><a href="/almacen/almacen" >Almacen</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span class="icon color7"><i class="fa fa-bar-chart"></i> </span>Reportes<span class="caret"></span></a>
            <ul>
                <li><a href="/reportes/producto">Producto</a></li>
                <li><a href="/reportes/proveedor">Proveedor</a></li>
                <li><a href="/reportes/ventas">Ventas</a></li>
                <li><a href="/reportes/compra">Compras</a></li>
                <li><a href="/reportes/usuario">Usuarios</a></li>

            </ul>
        </li>