            <li>
                <a href="#"><i class="icon-store"></i> <span>Almacen</span></a>
                <ul>
                
                    <li><a href="/almacen/producto">Producto</a></li>
                    <li><a href="/almacen/tipo-producto" >Tipo producto</a></li>
                    <li><a href="/almacen/familia-producto" >Familia producto</a></li>
                    
                </li>

                <li><a href="/almacen/proveedor" >Proveedores</a></li>
                <li><a href="/almacen/almacen" >Almacen</a></li>
                
            </ul>
        </li>