<li>
    <a href="#"><i class="icon-users"></i> <span>RR.HH</span></a>
    <ul>
        <li><a href="/recursos-humano/empleado">Empleado</a></li>
        
    </ul>
</li>


<li>
    <a href="#"><i class="icon-cart"></i> <span>Compras</span></a>
    <ul>
        <li><a href="/compras/compras" id="layout1">Registro de compras</a></li>
        <li><a href="/compras/reportes" id="layout2">Reportes </a></li>
        
    </ul>
</li>