	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>


<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/configuracion">Configuración</a></li>
			<li><a href="/configuracion/sucursal">Sucursal</a></li>
			<li class="active">Nuevo sucursal</li>
      </ol>

  </div>

  <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  			<div class="panel panel-default">
  				<div class="panel-heading">
  					<h5 class="panel-title">Sucursal</h5>

  				</div>

				<div class="panel-body">

					<form action="#" class="form-horizontal" id="frmSucursal">
		
							<div class="form-group">
								<label class="col-lg-3 control-label">Descripción:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Sucursal Miraflores" id="descripcion" name = "descripcion" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Dirección:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="av.Perú 551" id="direccion" name = "direccion" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Teléfono 1:</label>
								<div class="col-lg-9">
									<input type="digits" class="form-control" placeholder="285-451" id="telefono1" name="telefono1" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Teléfono 2:</label>
								<div class="col-lg-9">
									<input type="digits" class="form-control" placeholder="285-451" id="telefono2" name="telefono2">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Correo:</label>
								<div class="col-lg-9">
									<input type="email" class="form-control" placeholder="joper30@gmail.com" id="correo" name="correo" >
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Fax:</label>
								<div class="col-lg-9">
									<input type="digits" class="form-control" placeholder="478114522" id="fax" name="fax">
								</div>
							</div>

	
							<div class="form-group">
								<label class="col-lg-3 control-label">Estado:</label>
								<div class="col-lg-9">
									<select class="select" id="estado" name="estado">

										<option value="0">Activo</option>
										<option value="1">Inactivo</option>
											
									</select>
								</div>
							</div>
							
				

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default btn-registrar"><i class="fa fa-save"></i> Registrar</button>
						</div>
					</div>

			

					</form>

				</div>

			</div>

  		</div>
  	</div>
  </div>
 </div>



<!-- Content area -->

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/module/configuracion/sucursal/add.js')

?>