

<!-- /page header -->



<!-- Content area -->
<div class="content">


<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/configuracion">Configuración</a></li>
        <li class="active">Sucursales</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/configuracion/sucursal/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
        </div>

  </div>
	<!-- Basic datatable -->
	<div class="container-padding container-widget">

	<div class="row">
		<div class="col-md-12">

		<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Sucursales</h5>
	
		</div>

		<div class="panel-body">
			<section id="no-more-tables">
			<table class="table datatable-responsive  table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Descripción</th>
					<th>Dirección</th>
					<th>Teléfono</th>

					<th>Estado</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			<?php foreach ($this->sucursal as $data): ?>

				<tr>
					<td data-title="Id"><?=$data['id_sucursal']?></td>
					<td data-title="Descripción"><?=$data['descripcion']?></td>
					<td data-title="Dirección"><?=$data['direccion']?></td>
					<td data-title="Teléfono"><?=$data['telefono1']?></td>
					<td data-title="Estado"><?=$this->funcionesHelper("estado",$data['estado'])?></td>
					<td class="text-center" data-title="Actions">
						<ul>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bars"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/configuracion/sucursal/edit/<?=$data['id_sucursal']?>"><i class="fa fa-pencil"></i> Editar</a></li>
									<li><a href="#"><i class="fa fa-remove"></i> Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				
			<?php endforeach ?>
	
			</tbody>
		</table>
		</section>

		</div>

	

	</div>
		
		</div>
		
	</div>


		
	</div>


</div>

<?php
  echo $this->inlineScript()

  	  //->appendFile($this->basePath() . '/js/theme/select2.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/configuracion/sucursal/index.js')
?>