<?php echo $this->doctype(); ?>

<html lang="en">
<head>
<meta charset="utf-8">
<?php echo $this->headTitle('Soft24') ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))

                        ->prependStylesheet($this->basePath() . '/css/theme/admin.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
               
                        //->prependStylesheet('https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900')
                         ?>

        <!-- Scripts -->
        <?php echo $this->headScript()

            ->prependFile($this->basePath() . '/js/functions/index.js')
            //->prependFile($this->basePath() . '/js/theme/pnotify.min.js')
            ->prependFile($this->basePath() . '/js/theme2/daterangepicker.js')
            ->prependFile($this->basePath() . '/js/theme2/moment.min.js')
            ->prependFile($this->basePath() . '/js/theme/formatter.min.js')
            ->prependFile($this->basePath() . '/js/theme2/sweet-alert.min.js')
            ->prependFile($this->basePath() . '/js/theme/validate.min.js')
            ->prependFile($this->basePath() . '/js/theme/uniform.min.js')
            ->prependFile($this->basePath() . '/js/theme2/plugin.js')
            ->prependFile($this->basePath() . '/js/theme2/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/theme2/jquery.min.js')

         
        ; ?>

    </head>
    <body onload="nobackbutton()">
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>

<?php echo $this->partial('header');?>

<?php echo $this->content; ?>

<?php echo $this->partial('footer');?>

</body>
</html>

