<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Soft24 Login')?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))

                        ->prependStylesheet($this->basePath() . '/css/theme/admin.css')
      
                         ?>

        <!-- Scripts -->
        <?php echo $this->headScript()

            ->prependFile($this->basePath() . '/js/functions/index.js')
            ->prependFile($this->basePath() . '/js/theme2/sweet-alert.min.js')
            ->prependFile($this->basePath() . '/js/core/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/core/jquery.min.js')
       
         
        ; ?>

    </head>
    <body>
        <?php echo $this->content; ?>

    
    </body>
</html>
