	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>


<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/configuracion">Configuración</a></li>
			<li><a href="/configuracion/usuario">Usuario</a></li>
			<li class="active">Editar usuario</li>
      </ol>

  </div>

  <div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  			<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Usuario</h5>

					</div>

					<div class="panel-body">

					<form action="#" class="form-horizontal" id="frmUsuario">
	

						<input type="hidden" id="id_usuario" name="id_usuario" value="<?=$this->usuario['id_usuario']?>">

						<div class="form-group">
												<label class="col-lg-3 control-label">Usuario:</label>
												<div class="col-lg-9">
													<input type="text" class="form-control" placeholder="joper30" id="user_name" name = "user_name" value=<?=$this->usuario['user_name']?> required>
												</div>
						</div>

						<div class="form-group">
												<label class="col-lg-3 control-label">Password:</label>
												<div class="col-lg-9">
													<input type="password" class="form-control" placeholder="" id="user_pass" name = "user_pass" value=<?=$this->usuario['user_pass']?> required>

														<input type="hidden" id="user_pass_o" name = "user_pass_o" value=<?=$this->usuario['user_pass']?>>
												</div>
						</div>

						<div class="form-group">
												<label class="col-lg-3 control-label">Empleado:</label>
												<div class="col-lg-9">
													<select class="select-search" id="id_empleado" name="id_empleado">

														<?php foreach ($this->empleado as $data): ?>

															<option value="<?=$data['id_empleado']?>" <?=($data['id_empleado'] == $this->usuario['id_empleado']) ? "selected": "" ?>><?=$data['nombre']." ". $data['ap_pat']." ".$data['ap_mat']?></option>

														<?php endforeach ?>

													</select>
												</div>
						</div>

						<div class="form-group">
												<label class="col-lg-3 control-label">Rol:</label>
												<div class="col-lg-9">
													<select class="select-search" id="rol" name="rol">

														<option value="administrador" <?=($this->usuario['rol'] == "administrador") ? "selected":"";?>>Administrador</option>
														<option value="cajero" <?=($this->usuario['rol'] == "cajero") ? "selected":"";?>>Cajero</option>

														<option value="contador" <?=($this->usuario['rol'] == "contador") ? "selected":"";?>>Contador</option>
														<option value="almacenero" <?=($this->usuario['rol'] == "almacenero") ? "selected":"";?>>Almacenero</option>

													</select>
												</div>
						</div>

						<div class="form-group">
												<label class="col-lg-3 control-label">Estado:</label>
												<div class="col-lg-9">
													<select class="select" id="estado" name="estado">

														<option value="0">Activo</option>
														<option value="1">Inactivo</option>

													</select>
												</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-editar"> <i class="fa fa-refresh"></i> Editar</button>
							</div>
						</div>

					</form>
								

					</div>
			</div>

  		</div>
  	</div>

  </div>

</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()


    ->appendFile($this->basePath() . '/js/module/configuracion/usuario/add.js')

?>