

<!-- Content area -->
<div class="content">

	<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/configuracion">Configuración</a></li>
        <li class="active">Usuario</li>
      </ol>

      <div class="right">
          <a class="btn btn-danger" href="/configuracion/usuario/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>
            
        </div>

	</div>

	<div class="container-padding container-widget">

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Usuarios</h5>
		</div>

		<div class="panel-body">

				<section id="no-more-tables">

		<table class="table datatable-responsive  table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Usuario</th>
					<th>Empleado</th>
					<th>Rol</th>

					<th>Estado</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			<?php foreach ($this->usuario as $data): ?>

				<tr>
					<td data-title="Id"><?=$data['id_usuario']?></td>
					<td data-title="Usuario"><?=$data['user_name']?></td>
					<td data-title="Empleado"><?=$data['nom_emp']." ". $data['ap_pat']." ". $data['ap_mat']?></td>
					<td data-title="Rol"><?=$data['rol']?></td>
					<td data-title="Estado"><?=$this->funcionesHelper("estado",$data['estado'])?></td>
					<td class="text-center" data-title="Actions">
						<ul class="icons-list">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bars"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/configuracion/usuario/edit/<?=$data['id_usuario']?>"><i class="fa fa-pencil"></i> Editar</a></li>
									<li><a href="#"><i class="fa fa-remove"></i> Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				
			<?php endforeach ?>

			</tbody>
		</table>
		</section>
		
		</div>
		
	</div>
			</div>
		</div>
	</div>
	
</div>

<?php
  echo $this->inlineScript()

      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      ->appendFile($this->basePath() . '/js/module/configuracion/usuario/index.js')
?>