	<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
	</div>



<!-- Content area -->
<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/almacen">Almacén</a></li>
			<li><a href="/almacen/familia-producto">Familia producto</a></li>
			<li class="active">Nueva familia</li>
      </ol>

</div>

<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Familia de Producto</h5>

					</div>

					<div class="panel-body">

					<form action="#" class="form-horizontal" id="frmFamilia">

					<div class="row">

						<div class="col-md-12">

							<div class="form-group">
								<label class="col-lg-3 control-label">Nombre:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" placeholder="Ejm: Bebidas" id="nombre" name = "nombre">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Estado:</label>
								<div class="col-lg-9">
									<select class="select" id="estado" name="estado">

										<option value="0">Activo</option>
										<option value="1">Inactivo</option>
											
									</select>
								</div>
							</div>
					
						</div>

					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-default btn-registrar"><i class="fa fa-save"></i> Registrar</button>
						</div>
					</div>

					</form>

					</div>
			</div>
  		</div>
  	</div>
</div>


</div>

<!-- Content area -->

<?php
  echo $this->inlineScript()
  	
      ->appendFile($this->basePath() . '/js/module/almacen/familia-producto/add.js')

?>