<!-- Page header -->
<div class="page-header">
	<div class="page-header-content">
		<div class="page-title">
		<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Reporte de Ventas</span></h4>
		</div>

	
	</div>

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a href="/"><i class="icon-home2 position-left"></i> Home</a></li>
			<li><a href="/reportes">Reportes</a></li>
			<li class="active">Ventas</li>
		</ul>


	</div>
</div>


<div id="mFecha" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

			    <div class="modal-header bg-info">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Eliga fecha</h6>
			    </div>

				<div class="modal-body">

					<form class="form-inline" action="" id="frmFecha">

						<div style="text-align: center">

							<div class="input-group">
								<span class="input-group-addon"><i class="icon-calendar2"></i></span>
								<input type="text" class="form-control pickadate-accessibility"  id="fecha_ini" name="fecha_ini" data-value = "<?=date("m-d-y")?>" readonly>
							</div>

							al 

							<div class="input-group">
								<span class="input-group-addon"><i class="icon-calendar2"></i></span>
								<input type="text" class="form-control pickadate-accessibility"  id="fecha_fin" name="fecha_fin" data-value = "<?=date("m-d-y")?>" readonly>
							</div>
								
						</div>
		
					</form>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-info" id="btn-rfecha"><i class="icon-printer"></i> Ir al reporte </button>
				</div>


			</div>
		</div>
</div>


<div id="mCaja" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

			    <div class="modal-header bg-info">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Eliga las opciones</h6>
			    </div>

				<div class="modal-body">

					<form class="form-horizontal" action="" id="frmFecha">

						<div class="form-group">
							<label class="col-lg-3 control-label">Caja:</label>
							<div class="col-lg-9">
									<select class="select-search" id="id_caja">

									<?php foreach ($this->proveedor as $data): ?>

										<option value="<?=$data['id_prov']?>" data="<?=$data['razon_social']?>"><?=$data['ruc']?></option>
										
									<?php endforeach ?>
		
									</select>
							</div>
						</div>
		
					</form>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-info" id="btn-rfecha"><i class="icon-printer"></i> Ir al reporte </button>
				</div>


			</div>
		</div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
	<!-- Basic datatable -->
	<div class="panel panel-flat">
		<div class="panel-heading">
			<h5 class="panel-title">Ventas</h5>
	
		</div>

		<div class="panel-body">
			<form class="form-inline" action="" id="frmVentas">

				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" class="styled" name="reporte"  value="fecha" checked>
						x Fecha
					</label>
				</div>

				<div class="form-group">

					<label class="radio-inline">
						<input type="radio" class="styled" name="reporte" value="caja">
						x Caja
					</label>
				</div>

				<div class="form-group">

					<label class="radio-inline">
						<input type="radio" class="styled" name="reporte" value="vendedor">
						x Vendedor
					</label>
				</div>

				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" class="styled" name="reporte" value="producto">
						x Producto
					</label>
				</div>

				<button type="button" class="btn btn-danger" id="btn-ver-reporte"> <i class="icon icon-point-right"></i> Ver reporte</button>
				
			</form>
		</div>

	</div>

<?php
  echo $this->inlineScript()
      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')
      
      ->appendFile($this->basePath() . '/js/theme/picker/picker.js')
      ->appendFile($this->basePath() . '/js/theme/picker/picker.date.js')
      ->appendFile($this->basePath() . '/js/theme/picker/picker.time.js')
      ->appendFile($this->basePath() . '/js/theme/picker/legacy.js')
      ->appendFile($this->basePath() . '/js/theme/picker/es_ES.js')

      ->appendFile($this->basePath() . '/js/module/reportes/ventas/index.js')
             
?>