
<?php 
if (isset($this->apertura)) {

?>

<div id="mCaja" class="modal fade" data-backdrop="static" data-keyboard="true" >
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
               
                <h6 class="modal-title">Aperturar Caja</h6>
            </div>

            <div class="modal-body form-horizontal">

            <form action="#"  id="frmApertura">

                <div class="row">

                    <div class="col-md-12">

                        <div class="form-group">
                        <label class="col-lg-3 control-label">Fecha apertura:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="fecha" name = "fecha" value="<?=date("Y/m/d")?>"  readonly>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-lg-3 control-label">Hora apertura :</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control"  id="hora_aper" name = "hora_aper"  readonly>
                                <input type="hidden"  id="hora_cierre" name = "hora_cierre" >
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-lg-3 control-label">Monto :</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control monto"  id="monto_aper" name = "monto_aper" >
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-lg-3 control-label">Repetir monto :</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control monto"  id="rep_monto">
                            </div>
                        </div>


                        <div class="form-group">
                        <label class="col-lg-3 control-label">Caja:</label>
                            <div class="col-lg-9">
                                <select class="select" id="id_caja" name="id_caja">

                                    <?php foreach ($this->caja as $data): ?>

                                        <option value="<?=$data['id_caja']?>"><?=$data['nom_caja']?></option>
                                        
                                    <?php endforeach ?>
                                        
                                    </select>
                            </div>
                        </div>


                    </div>

                </div>
            </form>

            <div class="row">

                <div class="text-center">

                <div class="loading" style="display: none; margin: 8px 0px">

                        <i class="icon-spinner10 spinner" style="font-size: 2.3em"></i>

                    </div>

                </div>
                
            </div>

                <div class="row">

                    <div class="text-center">
                            <button type="button" class="btn btn-danger btn-caja">Aperturar<i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                    
                </div>

            </div>

        </div>

    
    </div>
</div>

<?php 
}
?>

<!-- START CONTENT -->
<div class="content">

 


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-widget">



  <!-- End First Row -->
  
  <div class="row">
  <div class="col-md-12">
  <div id="sum_box" class="mbl">
                            <div class="col-sm-6 col-md-3 block-space">
                                <div class="panel profit db mbm">
                                    <div class="panel-body">
                                        <h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0">
                                            </span><span>$</span></h4>
                                        
                                        <div class="progress progress-striped active mbn">
                                            <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 80%;" class="progress-bar progress-bar-success">
                                                <span class="sr-only">80% Complete (success)</span></div>
                                        </div>
                                        <p class="description">Profit description</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 block-space">
                                <div class="panel income db mbm">
                                    <div class="panel-body">
                                    <h4 class="value"><span>215</span><span>$</span></h4>
                                      <div class="progress progress-striped active mbn">
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 60%;" class="progress-bar progress-bar-info">
                                                <span class="sr-only">60% Complete (success)</span></div>
                                        </div>
                                     <p class="description">Income detail</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 block-space">
                                <div class="panel task db mbm">
                                    <div class="panel-body">
                                  <h4 class="value"><span>215</span></h4>
                                       <div class="progress  progress-striped active mbn">
                                            <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 50%;" class="progress-bar progress-bar-danger">
                                                <span class="sr-only">50% Complete (success)</span></div>
                                        </div>
                                        <p class="description">Task completed</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="panel visit db mbm">
                                    <div class="panel-body">
                                        <h4 class="value"><span>128</span></h4>
                                         <div class="progress  progress-striped active mbn">
                                            <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 70%;" class="progress-bar progress-bar-warning">
                                                <span class="sr-only">70% Complete (success)</span></div>
                                        </div>
                                         <p class="description">Visitor description</p>
                                    </div>
                                </div>

                            </div>
  </div>
  

  </div>
  </div>



  <!-- Start Second Row -->
  <div class="row">

    <!-- Start Server Status -->
    <div class="col-md-12 col-lg-9">
      <div class="panel panel-widget" style="height:380px;">
        <div class="panel-title">
          SERVER STATUS <span class="label label-default">247</span>
          <ul class="panel-tools panel-tools-hover">
            <li><a class="icon"><i class="fa fa-refresh"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <div class="panel-body">

          <ul class="widget-inline-list clearfix">
            <li class="col-2"><span>28.9GB</span>Total Usage</li>
            <li class="col-2"><span>92%</span>Memory Usage </li>
            <li class="col-2"><span>22%</span>CPU</li>
             <li class="col-2"><span>16%</span>Disk Usage</li>
             <li class="col-2"><span>78%</span>Database </li>
            <li class="col-2"><span>512MB</span>Total RAM</li>
          </ul>

          <div id="realtime" class="flotchart-placeholder" style="height:190px;"></div>

        </div>
      </div>
    </div>
    <!-- End Server Status -->




  </div>
  <!-- End Second Row -->


  <!-- Start Fourth Row -->
  <div class="row">



    <!-- Start Inbox -->
    <div class="col-md-12 col-lg-3">
      <div class="panel panel-widget">
        <div class="panel-title">
          Inbox <span class="label label-danger">9</span>
          <ul class="panel-tools">
            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <div class="panel-body">

        <ul class="mailbox-inbox">

            <li>
              <a href="#" class="item clearfix">
                <img src="/img/usuarios/profileimg.png" alt="img" class="img">
                <span class="from">John Doe</span>
                Hello, m8 how is goin ?
                <span class="date">22 May</span>
              </a>
            </li>

            <li>
              <a href="#" class="item clearfix">
                <img src="/img/usuarios/profileimg.png" alt="img" class="img">
                <span class="from">Sarah Smith</span>
                Problems look mighty small...
                <span class="date">22 May</span>
              </a>
            </li>

            <li>
              <a href="#" class="item clearfix">
                <img src="/img/usuarios/profileimg.png" alt="img" class="img">
                <span class="from">Stephen Doe</span>
                New job offer ?
                <span class="date">22 May</span>
              </a>
            </li>

            <li>
              <a href="#" class="item clearfix">
                <img src="/img/usuarios/profileimg.png" alt="img" class="img">
                <span class="from">Kendra Hall</span>
                Tonight Party
                <span class="date">22 May</span>
              </a>
            </li>


        </ul>

        </div>
      </div>
    </div>
    <!-- End Inbox -->

  </div>
  <!-- End Fourth Row -->


  <!-- Start Fifth Row -->
  <div class="row">


    <!-- End Today Activity -->



    <!-- Start Teammates -->
    <div class="col-md-12 col-lg-3">
      <div class="panel panel-info panel-widget">
        <div class="panel-title">
          Team Members
        </div>
        <div class="panel-body">
          <ul class="basic-list image-list">
            <li><img src="/img/usuarios/profileimg.png" alt="img" class="img"><b>John Doe</b><span class="desc">Designer</span></li>
            <li><img src="/img/usuarios/profileimg.png" alt="img" class="img"><b>Sarah Smith </b><span class="desc">Front-End Developer</span></li>
            <li><img src="/img/usuarios/profileimg.png" alt="img" class="img"><b>Stephen Doe</b><span class="desc">Back-End Developer</span></li>
            <li><img src="/img/usuarios/profileimg.png" alt="img" class="img"><b>Kendra Hall</b><span class="desc">Marketing</span></li>
            <li><img src="/img/usuarios/profileimg.png" alt="img" class="img"><b>Mark Doe</b><span class="desc">iOS Developer</span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Teammates -->


  </div>
  <!-- End Fifth Row -->




</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 




</div>


<?php
  echo $this->inlineScript()

        
        ->appendFile($this->basePath() . '/js/theme/mask-money/jquery.maskMoney.min.js')
 
        //->appendFile($this->basePath() . '/js/theme2/rickshaw-plugin.js')

        ->appendFile($this->basePath() . '/js/module/application/index/index.js')
             
?>

