
<div id="process" class="modal fade" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body" style="text-align: center">
		
						<i class="fa fa-spinner fa-5x"></i>

						<p> Procesando ...</p>
				
				</div>


			</div>
		</div>
</div>


<div id="mProducto" class="modal fade" data-backdrop="static" data-keyboard="false" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

		    <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h6 class="modal-title">Lista Productos</h6>
			</div>

			<div class="modal-body form-horizontal">

				 <section id="no-more-tables">

				 <table class="table table-hover" id="tb_prod_modal">
					<thead>
						<tr>
							<th>Id</th>
							<th>Cod. Barras</th>
							<th>Foto</th>
							<th>Producto</th>
							<th>Precio </th>
							<th>Stock</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>

					<?php foreach ($this->productos as $data): ?>

						<tr>
							<td><?=$data['id_prod']?></td>
							<td><?=$data['cod_barras']?></td>
							<td>
								<?php 
								$foto = "/img/thumbnail-default.jpg";
								if($data['foto'] !=null || $data['foto'] != "" ){

									$foto = "/img/productos/".$data['foto'];

								}
								?>
					
							<img src="<?=$foto?>" id="img-prod" width="100">
			
							</td>

							<td><?=$data['nom_prod']." / ". $data['nom_tipo']?></td>
							<td><?=$data['prec_vent']?></td>
							<td><?=$data['stock']?></td>
							<td class="text-center" data-title="Actions">
								<ul class="icons-list">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-bars"></i>
										</a>

										<ul class="dropdown-menu dropdown-menu-right">

											<li><a href="javascript:void(0)"><i class="icon-arrow-right15"></i> Agregar</a></li>
										</ul>
									</li>
								</ul>
							</td>

						</tr>
						
					<?php endforeach ?>

					</tbody>
				</table>
		
				</section>

				
			</div>


		</div>
	</div>
</div>


<div class="content">

<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/configuracion">Configuración</a></li>
			<li><a href="/configuracion/promocion">Promoción</a></li>
			<li class="active">Nueva promocion</li>
      </ol>

 </div>


<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">Promoción</h5>

					</div>

					<div class="panel-body">

					<form action="#" class="form-horizontal" id="frmPromo">

					<div class="row">

						<div class="col-md-12">

							<div class="form-group">
								<label class="col-lg-3 control-label">Descripción promoción:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control"  id="nom_promo" name = "nom_promo" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Fecha de inicio:</label>
								<div class="col-lg-9">
								<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											<input type="text" class="form-control pickadate-accessibility"  id="fec_ini" name="fec_ini" value = "<?=date("d-m-Y")?>">
										</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Fecha de cierre:</label>
								<div class="col-lg-9">
								<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											<input type="text" class="form-control pickadate-accessibility"  id="fec_fin" name="fec_fin" value = "<?=date("d-m-Y")?>">
								</div>
								</div>
							</div>


							<div class="form-group">
							<label class="col-lg-3 control-label">Combo:</label>
								<div class="col-lg-9">
						
									<div class="radio radio-warning">
										<input type="radio" name="combo" id="radio1"  value="no" checked>
										<label for="radio1">
											No
										</label>
									</div>

									<div class="radio radio-warning">
										<input type="radio" name="combo" id="radio2" value="si">
										<label for="radio2">
											Si
										</label>
									</div>
								</div>
							</div>

							<div class="form-group" id="ct-combo">
							<label class="col-lg-3 control-label">Total Oferta:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control"  id="total_combo" name = "total_combo" readonly>
								</div>
							</div>
	
							
						</div>

						</div>

						<div class="row" style="margin-bottom: 20px">
							<div class="col-md-12 text-right">

							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#mProducto">Agregar productos <i class="icon-plus-circle2 position-right"></i></button>
							
							</div>
							
						</div>

						<div class="row">

							<div class="col-md-12">
								<table class="table  table-striped table-hover" id="tb_prod_promo">
									<thead>
										<tr>
											<th>Id</th>
											<th>Producto</th>
											<th>Cant</th>
											<th>Precio Unitario</th>
											<th>Total</th>
											<th>Precio Oferta</th>

											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							
							</div>

					</div>

					<div class="row" style="margin-top: 10px">
						<div class="col-md-12">

							<button type="submit" class="btn btn-default btn-registrar"> <i class="fa fa-save"></i> Registrar </button>

						</div>

					</div>

					</form>

					</div>
			</div>

  		</div>
  	</div>

</div>

</div>


<!-- Content area -->

<?php
  echo $this->inlineScript()


    ->appendFile($this->basePath() . '/js/theme/editable/jasny_bootstrap.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/editable.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/mockjax.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/address.js')
    ->appendFile($this->basePath() . '/js/theme/editable/autosize.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/touchspin.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/tagsinput.min.js')
    ->appendFile($this->basePath() . '/js/theme/editable/settings.js')

    ->appendFile($this->basePath() . '/js/theme/mask-money/jquery.maskMoney.min.js')

    ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
  	->appendFile($this->basePath() . '/js/theme/responsive.min.js')
    ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')

    ->appendFile($this->basePath() . '/js/module/configuracion/promocion/add.js')

?>