
<!-- Content area -->
<div class="content">
	
<div class="page-header">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
     		<li><a href="/configuracion">Configuración</a></li>
			<li class="active">Promocion</li>
      </ol>

       <div class="right">
          <a class="btn btn-danger" href="/configuracion/promocion/add"><i class="fa fa-pencil"></i> Agregar nuevo</a>   
        </div>

 </div>


<div class="container-padding container-widget">

  	<div class="row">
  		<div class="col-md-12">

  		
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Promociones</h5>
	
		</div>

		<div class="panel-body">

			<table class="table datatable-responsive  table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Promoción</th>
					<th>Productos</th>
					<th>Fecha inicio</th>
					<th>Fecha cierre</th>
					<th>Precio Oferta</th>
					
					<th>Estado</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			<?php foreach ($this->promocion as $data): ?>

				<tr>
					<td><?=$data['id_promo']?></td>
					<td><?=$data['nom_promo']?></td>
					<td><?=$this->promocionHelper("productos",$data['id_promo'])?></td>
					<td><?=$data['fec_ini']?></td>
					<td><?=$data['fec_fin']?></td>
					<td><?=$data['total_combo']?></td>
					<td><?=$this->promocionHelper("estado",$data['estado'])?></td>

					<td class="text-center" data-title="Actions">
						<ul class="icons-list">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bars"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/configuracion/promocion/edit/<?=$data['id_promo']?>"><i class="fa fa-pencil"></i> Editar</a></li>
									<li><a href="#"><i class="fa fa-remove"></i> Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>

				</tr>
				
			<?php endforeach ?>
			</tbody>
		</table>
	
		</div>

	</div>
  		</div>
  	</div>
</div>

</div>

<?php
  echo $this->inlineScript()

      ->appendFile($this->basePath() . '/js/theme/datatables.min.js')
      ->appendFile($this->basePath() . '/js/theme/responsive.min.js')
      ->appendFile($this->basePath() . '/js/theme/datatables_responsive.js')

      ->appendFile($this->basePath() . '/js/module/configuracion/promocion/index.js')
?>